<script lang="ts" setup>
import { useOrderStore } from '@/src/stores/useOrderStore'
import { useRefundStore } from '@/src/stores/useRefundStore'
import { useReturnStore } from '@/src/stores/useReturnStore'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { getMerchantSettingByKey } from '@/src/utils/merchant'
import { PropType } from 'vue'

/**
 * Props.
 */
defineProps({
  orderReturnItemsChecked: {
    type: Array as PropType<OrderReturnItems[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false
  }
})

/**
 * Imports.
 */
const orderStore = useOrderStore()
const returnStore = useReturnStore()
const refundStore = useRefundStore()
</script>

<template>
  <div class="relative w-full overflow-x-auto pb-12">
    <table class="w-full table-auto">
      <thead class="text-center capitalize">
        <tr>
          <!-- <th>{{ $t('pages.order.return.detailed.returnTable.header.productImage') }}</th> -->
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productTitle') }}</th>
          <th
            v-if="
              getMerchantSettingByKey(
                'pages.order.return.detailed.components.returningTableDesktop.table.productReturned.active'
              )
            "
            class="!text-center"
          >
            {{ $t('pages.order.return.detailed.returnTable.header.productReturned') }}
          </th>
          <th class="!text-center">
            {{ $t('pages.order.return.detailed.returnTable.header.productQuantity') }}
          </th>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productReason') }}</th>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productComment') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in orderReturnItemsChecked" :key="item.orderLineId">
          <!-- <td>
            <img
              width="40"
              height="40"
              alt="img"
              src="https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/fd09c4b5760c666a48fb8be7d81df4d5c903cb4b.webp"
            />
          </td> -->
          <td>
            <p>{{ orderStore.findOrderLineById(item.orderLineId).description }}</p>
            <p>
              Size: {{ orderStore.findOrderLineById(item.orderLineId).size }} | Color:
              {{ orderStore.findOrderLineById(item.orderLineId).color }}
            </p>
          </td>
          <td
            v-if="
              getMerchantSettingByKey(
                'pages.order.return.detailed.components.returningTableDesktop.table.productReturned.active'
              )
            "
            class="!text-center"
          >
            <p>{{ returnStore.getReturnLinesQuantityByOrderLineId(item.orderLineId) || 0 }}</p>
          </td>
          <td class="!text-center">
            <p>{{ orderReturnItemsChecked[index].quantity }}</p>
          </td>
          <td>
            <p>
              {{
                refundStore.findRefundReasonById(orderReturnItemsChecked[index].refundReasonId)
                  ?.name
              }}
            </p>
          </td>
          <td>
            <p>{{ orderReturnItemsChecked[index].comment }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
table {
  td {
    @apply border-b border-t border-gray-300 px-8 py-4 text-left;
  }
  th {
    @apply px-8 text-left;
  }
}
</style>
