<script lang="ts" setup>
import ProcessingTableDesktop from '@/components/tables/processingTable/ProcessingTableDesktop.vue'
import ProcessingTableMobile from '@/components/tables/processingTable/ProcessingTableMobile.vue'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { PropType } from 'vue'

/**
 * Props.
 */
defineProps({
  orderReturnItemsChecked: {
    type: Array as PropType<OrderReturnItems[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false
  }
})

/**
 * Refs.
 */
// const screenWidth = ref(screen.width) // Device Screen Width
const windowWidth = ref(window.innerWidth) // Browser Window Width

/**
 * Methods.
 */
const handleResize = () => {
  windowWidth.value = window.innerWidth
}

/**
 * Hooks.
 */
onMounted(() => {
  window.addEventListener('resize', handleResize)
})
onUnmounted(() => {
  window.removeEventListener('resize', handleResize)
})
</script>

<template>
  <div class="relative w-full">
    <ProcessingTableDesktop
      v-if="windowWidth > 768"
      :order-return-items-checked="orderReturnItemsChecked"
      :loading="loading"
    />

    <ProcessingTableMobile
      v-else
      :order-return-items-checked="orderReturnItemsChecked"
      :loading="loading"
    />
  </div>
</template>

<style scoped></style>
