<script lang="ts" setup>
import { useOrderStore } from '@/src/stores/useOrderStore'
import { useRefundStore } from '@/src/stores/useRefundStore'
import { useReturnStore } from '@/src/stores/useReturnStore'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { getMerchantSettingByKey } from '@/src/utils/merchant'
import { PropType } from 'vue'

/**
 * Props.
 */
defineProps({
  orderReturnItemsChecked: {
    type: Array as PropType<OrderReturnItems[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false
  }
})

/**
 * Imports.
 */
const orderStore = useOrderStore()
const returnStore = useReturnStore()
const refundStore = useRefundStore()
</script>

<template>
  <div class="relative w-full overflow-x-auto pb-12">
    <table class="w-full table-auto">
      <thead class="text-center capitalize">
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in orderReturnItemsChecked" :key="item.orderLineId">
          <td>
            <div>
              <h2>{{ orderStore.findOrderLineById(item.orderLineId).description }}</h2>
            </div>

            <div>
              <h3>
                Size: {{ orderStore.findOrderLineById(item.orderLineId).size }} | Color:
                {{ orderStore.findOrderLineById(item.orderLineId).color }}
              </h3>
            </div>

            <div
              v-if="
                getMerchantSettingByKey(
                  'pages.order.return.detailed.components.returningTableDesktop.table.productReturned.active'
                )
              "
            >
              <p class="pr-2">
                {{ $t('pages.order.return.detailed.returnTable.header.productReturned') }}:
              </p>
              <p>{{ returnStore.getReturnLinesQuantityByOrderLineId(item.orderLineId) || 0 }}</p>
            </div>

            <div>
              <p class="pr-2">
                {{ $t('pages.order.return.detailed.returnTable.header.productQuantity') }}:
              </p>
              <p>{{ orderReturnItemsChecked[index].quantity }}</p>
            </div>

            <div>
              <p class="pr-2">
                {{ $t('pages.order.return.detailed.returnTable.header.productReason') }}:
              </p>
              <p>
                {{
                  refundStore.findRefundReasonById(orderReturnItemsChecked[index].refundReasonId)
                    ?.name
                }}
              </p>
            </div>

            <div v-if="orderReturnItemsChecked[index].comment">
              <p class="pr-2">
                {{ $t('pages.order.return.detailed.returnTable.header.productComment') }}:
              </p>
              <p>{{ orderReturnItemsChecked[index].comment }}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
table {
  tbody {
    td {
      @apply border-b border-t border-gray-300 px-8 py-4 text-left;

      div {
        @apply flex;
      }
    }
  }
}
</style>
