<script lang="ts" setup>
const props = defineProps({
  modelValue: {
    type: [Boolean],
    required: false
  },
  name: {
    type: String,
    required: true
  },
  label: {
    type: String,
    default: () => null
  },
  disabled: {
    type: Boolean,
    default: false
  },
  additionalClasses: {
    type: String,
    default: ''
  }
})

const emits = defineEmits(['update:modelValue'])

const toggleValue = () => {
  emits('update:modelValue', props.modelValue)
}
</script>

<template>
  <div class="relative">
    <input
      type="checkbox"
      class="rounded text-center shadow-sm"
      :class="[
        additionalClasses,
        disabled ? 'cursor-default !border-gray-300 !bg-gray-200' : 'cursor-pointer'
      ]"
      :name="name"
      :disabled="disabled"
      :value="modelValue"
      :checked="modelValue"
      @click="toggleValue"
    />
    <slot name="label">
      <div v-if="label">{{ label }}</div>
    </slot>
  </div>
</template>

<style scoped></style>
