<script lang="ts" setup>
defineProps({
  modelValue: {
    type: [Number, String],
    required: true
  },
  additionalClasses: {
    type: String,
    default: ''
  },
  placeholder: {
    type: String,
    default: ''
  },
  type: {
    type: String,
    default: 'text'
  },
  id: {
    type: String,
    default: 'input'
  },
  error: {
    type: String,
    default: () => null
  },
  disabled: {
    type: Boolean,
    default: false
  },
  min: {
    type: Number,
    default: null
  },
  max: {
    type: Number,
    default: null
  },
  step: {
    type: Number,
    default: null
  }
})

defineEmits(['update:modelValue', 'keyup', 'focusout'])
</script>

<template>
  <div class="relative">
    <input
      :id="id"
      class="app-input"
      :class="[
        additionalClasses,
        disabled ? 'app-input--disabled' : '',
        error ? 'app-input--error' : ''
      ]"
      :value="modelValue"
      :placeholder="placeholder"
      :type="type"
      :min="min"
      :max="max"
      :step="step"
      @focusout="$emit('focusout', $event)"
      @input="$emit('update:modelValue', $event.target.value)"
      @keyup="$emit('keyup', $event)"
    />
    <div v-if="error" class="relative text-sm text-red-600">
      {{ error }}
    </div>
  </div>
</template>

<style scoped></style>
