<script lang="ts" setup>
import { OptionItem } from '@/src/types/optionItem'
import type { PropType } from 'vue'

defineProps({
  modelValue: {
    type: Number,
    String,
    default: () => null
  },
  options: {
    type: Array as PropType<OptionItem[]>,
    default: () => []
  },
  defaultOption: {
    type: Object as PropType<OptionItem>,
    default: () => null
  },
  label: {
    type: String,
    default: () => null
  },
  name: {
    type: String,
    default: () => null
  },
  additionalClasses: {
    type: String,
    default: ''
  },
  disabled: {
    type: Boolean,
    default: false
  }
})

/**
 * Refs.
 */
const dropdownOpen = ref(false)
const selectedOption = ref({ label: 'Select', url: '#' })

/**
 * Methods.
 */
const handleClickOutside = (event) => {
  if (dropdownOpen.value && !event.target.closest('.list-field')) {
    dropdownOpen.value = false
  }
}

/**
 * Hooks.
 */
onMounted(() => {
  document.addEventListener('click', handleClickOutside)
})

onUnmounted(() => {
  document.removeEventListener('click', handleClickOutside)
})
</script>

<template>
  <div class="list-field relative inline-block">
    <label v-if="label" class="text-coolGray-700 font-bold">
      {{ label }}
    </label>

    <button @click="dropdownOpen = !dropdownOpen">{{ selectedOption.label }}</button>
    <ul
      v-if="dropdownOpen"
      class="dropdown-list absolute bg-white border z-[1] m-0 p-0 border-solid border-[#ccc] left-0 top-full"
    >
      <li
        v-for="(option, index) in options"
        :key="index"
        class="p-2 border-b-[#ccc] border-b border-solid"
      >
        <a
          v-if="option.type === 'link'"
          class="no-underline text-[#333] block"
          :href="option.value"
          @click="option.onClick ? option.onClick() : null"
          >{{ option.label }}</a
        >
        <p
          v-if="option.type === 'text'"
          class="no-underline text-[#333] block"
          @click="option.onClick ? option.onClick() : null"
        >
          {{ option.label }}
        </p>
      </li>
    </ul>
  </div>
</template>

<style scoped>
.dropdown-list {
  list-style: none;
}
.dropdown-list li {
  @apply last:border-b-[none];
}
</style>
