<script lang="ts" setup>
const props = defineProps({
  modelValue: {
    type: [Number, String],
    required: true
  },
  name: {
    type: String,
    required: true
  },
  value: {
    type: [Number, String],
    required: true
  },
  label: {
    type: String,
    default: () => null
  },
  hint: {
    type: String,
    default: () => null
  },
  disabled: {
    type: Boolean,
    default: false
  },
  additionalClasses: {
    type: String,
    default: ''
  }
})

defineEmits(['update:modelValue'])

const isChecked = computed(() => {
  return props.modelValue === props.value
})
</script>

<template>
  <div class="relative">
    <input type="radio" class="hidden peer" :name="name" :value="value" :checked="isChecked" />
    <label
      :for="value"
      class="border-[1px] shadow-sm inline-flex items-center justify-between p-5 rounded-lg peer-checked:border-blue-600 peer-checked:text-blue-600"
      :class="[
        additionalClasses,
        disabled
          ? '!cursor-not-allowed !border-gray-300 !bg-gray-200 !text-gray-500'
          : 'cursor-pointer bg-white border-[#464646] text-black transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105 hover:!text-white hover:bg-blue-500',
        isChecked ? 'border-[2px] border-[#DC2626]' : ''
      ]"
      @click="disabled ? () => {} : $emit('update:modelValue', value)"
    >
      <div class="block">
        <div v-if="label" class="w-full text-lg font-semibold">{{ label }}</div>
        <div v-if="hint" class="w-full">{{ hint }}</div>
      </div>
    </label>
  </div>
</template>

<style scoped></style>
