<script lang="ts" setup>
import { OptionItem } from '@/src/types/optionItem'
import type { PropType } from 'vue'
import { computed } from 'vue'

const props = defineProps({
  modelValue: {
    type: Number,
    String,
    default: () => null
  },
  options: {
    type: Array as PropType<OptionItem[]>,
    default: () => []
  },
  defaultOption: {
    type: Object as PropType<OptionItem>,
    default: () => null
  },
  label: {
    type: String,
    default: () => null
  },
  name: {
    type: String,
    default: () => null
  },
  additionalClasses: {
    type: String,
    default: ''
  },
  disabled: {
    type: Boolean,
    default: false
  }
})
const emits = defineEmits(['update:modelValue'])

const model = computed({
  get: () => props.modelValue.toString(),
  set: (value) => emits('update:modelValue', value)
})
</script>

<template>
  <div class="relative">
    <label v-if="label" class="text-coolGray-700 font-bold">
      {{ label }}
    </label>
    <select
      v-model="model"
      :name="name"
      :disabled="disabled"
      class="rounded border-[1px] border-[#464646] p-1 block w-full min-w-[3rem] focus:ring-blue-500 focus:border-blue-500"
      :class="[
        additionalClasses,
        disabled
          ? 'cursor-default border border-gray-300 text-gray-700 bg-[#f1f1f1]'
          : 'cursor-pointer'
      ]"
    >
      <option v-if="defaultOption" :value="defaultOption.value">
        {{ defaultOption.label }}
      </option>
      <option v-for="item in options" :key="item.value" :value="item.value">
        {{ item.label }}
      </option>
    </select>
  </div>
</template>

<style scoped></style>
