<script lang="ts" setup>
defineProps({
  modelValue: {
    type: [Number, String],
    required: true
  },
  additionalClasses: {
    type: String,
    default: ''
  },
  placeholder: {
    type: String,
    default: ''
  },
  id: {
    type: String,
    default: 'input'
  },
  error: {
    type: String,
    default: () => null
  },
  disabled: {
    type: Boolean,
    default: false
  },
  rows: {
    type: Number,
    default: null
  },
  cols: {
    type: Number,
    default: null
  }
})

defineEmits(['update:modelValue', 'keyup', 'focusout'])
</script>

<template>
  <div class="relative">
    <textarea
      :id="id"
      :disabled="disabled"
      class="rounded border-[1px] border-[#464646] text-[#464646] shadow-sm"
      :class="[
        additionalClasses,
        disabled ? 'border border-gray-300 text-gray-700 bg-[#f1f1f1]' : '',
        {
          'border-[2px] border-[#DC2626]': error
        }
      ]"
      :value="modelValue"
      :placeholder="placeholder"
      :rows="rows"
      :cols="cols"
      @focusout="$emit('focusout', $event)"
      @input="$emit('update:modelValue', $event.target.value)"
      @keyup="$emit('keyup', $event)"
    />
    <div v-if="error" class="relative text-sm text-red-600">
      {{ error }}
    </div>
  </div>
</template>

<style scoped></style>
