<template>
	<div class="container">
        <div v-if="showForm" class="container">
            <ValidationObserver v-slot="{ invalid }">
					<ValidationProvider
						v-slot="{ errors }"
						name="password"
						rules="required">
						<b-form-group id="password-group" 
									label="New password" 
									label-for="password-input">
							<b-form-input
								id="password-input"
								type="password"
								v-model="password"
								required
								placeholder="Password"
							/>
							<span class="input-invalid-message">
								{{ errors[0] }}
							</span>
						</b-form-group>
					</ValidationProvider>
					<ValidationProvider
						v-slot="{ errors }"
						name="Confirm password"
						rules="required|confirmed:password">
						<b-form-group id="password1-group" 
									label="Confirm new password" 
									label-for="password1-input">
							<b-form-input
								id="password1"
								type="password"
								v-model="password1"
								required
								placeholder="Confirm password"
							/>
							<span class="input-invalid-message">
								{{ errors[0] }}
							</span>
						</b-form-group>
					</ValidationProvider>
					<button class="button" @click="resetPassword()"  v-if="!invalid && password != '' && password1 != ''">Reset password</button>
                    <button class="button" disabled v-if="invalid || password == '' || password1 == ''">Reset password</button>
				</ValidationObserver>
		</div>
        <div class="message" v-if="showMessage">
            <p>Password has been changed, go back to <NuxtLink to="/">Login</NuxtLink></p>
        </div>
        <div class="message" v-if="showError">
            <p>Link is no longer valid, go back to <NuxtLink to="/">Login</NuxtLink></p>
        </div>	
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, extend } from "vee-validate";
import { email, confirmed } from "vee-validate/dist/rules";
extend('email', email);
extend('confirmed', confirmed);

// extend('min', min);
export default {
	layout: 'default',
	components: {
    	ValidationObserver: ValidationObserver,
    	ValidationProvider: ValidationProvider
  	},
	data() {
		return {
            showForm: true,
            showMessage: false,
            showError: false,
            password: "",
            password1: ""
		}
	},
	beforeMount() {
		var self = this;
		self.$store.commit("loader/Start");
        self.checkToken();
	},
	mounted() {
		var self = this;
	},
	methods: {
        checkToken() {
            var self = this;
            self.getData("/user/password/reset/" + self.$route.params.token, self.checkTokenResponse)
        },
        checkTokenResponse(response, error) {
            var self = this;
            if(error) {
                console.log(error);
        		self.$store.commit("loader/Stop");
                self.showForm = false;
                self.showError = true;
                return;
            }
            console.log(response);
    		self.$store.commit("loader/Stop");
            self.showForm = true;
        },
        resetPassword() {
            var self = this;
            var data = {"password" : self.password};
            self.postData("/user/password/reset/" + self.$route.params.token, data, self.resetPasswordResponse)
        },
        resetPasswordResponse(response, error) {
            var self = this;
            if(error) {
                console.log(error);
                self.showError = true;
                return;
            }
            console.log(response);
            self.showForm = false;
            self.showMessage = true;
        },
        send() {
            var self = this;
            self.displayEmailForm = false;
            self.displayMessage = true;
            self.sendEmail();
        },
        sendEmail() {
            var self = this;
            console.log(self.email);
            self.postData("/user/password/reset", {"email" : self.email}, self.sendEmailResponse);
        },
        sendEmailResponse(response, error) {
            var self = this;
            if(error) {
                console.log(error);  
                return;              
            }
            console.log(response);
        }
	}
}
</script>
<style scoped >
    .container {
        margin-top: 200px;
        width:  60% !important;
    }
    .button {
        width: 100%;
    }
    .message {
        margin-top: 30%;
        max-width: 500px;
        margin: auto;
        text-align: center;
        font-size: 22px;
    }
</style>
