<template>
	<div class="container">
        <div v-if="displayEmailForm" class="container">
			<div class="loginScreen">
                <ValidationProvider
                    v-slot="{ errors }"
                    name="email"
                    rules="required|email">
                    <b-form-group id="email-group" 
                                label="Enter your email" 
                                label-for="email-input">

                        <b-form-input
                            id="email-input"
                            v-model="email"
                            required
                            placeholder="Your email"
                        />
                        <span class="input-invalid-message">
                            {{ errors[0] }}
                        </span>
                    </b-form-group>
                    <button class="button" @click="send()">Send email</button>
                </ValidationProvider>
			</div>
		</div>
        <div class="container" v-if="displayMessage">
            <p class="message">Email has been sent. Go back to <a href="/login">login</a></p>
        </div>	
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, extend } from "vee-validate";
import { email } from "vee-validate/dist/rules";
extend('email', email);
export default {
	layout: 'default',
	components: {
    	ValidationObserver: ValidationObserver,
    	ValidationProvider: ValidationProvider
  	},
	data() {
		return {
            email: "",
            displayEmailForm: true,
            displayMessage: false
		}
	},
	beforeMount() {
		var self = this;
		self.$store.commit("loader/Start");
	},
	mounted() {
		var self = this;
		self.$store.commit("loader/Stop");
	},
	methods: {
        send() {
            var self = this;
            self.displayEmailForm = false;
            self.displayMessage = true;
            self.sendEmail();
        },
        sendEmail() {
            var self = this;
            console.log(self.email);
            self.postData("/user/password/reset", {"email" : self.email}, self.sendEmailResponse);
        },
        sendEmailResponse(response, error) {
            if(error) {
                console.log(error);                
            }
            console.log(response)
        }
	}
}
</script>
<style scoped >
    .button {
        width: 100%;
    }
    .message {
        margin-top: 30%;
        text-align: center;
        font-size: 26px;
    }
</style>
