<script lang="ts" setup>
import AppPoweredBy from '@/components/base/AppPoweredBy.vue'
import { getMerchantSettingByKey } from '@/src/utils/merchant'
</script>

<template>
  <footer>
    <AppPoweredBy v-if="getMerchantSettingByKey('general.return.components.appPoweredBy')" />
  </footer>
</template>

<style scoped></style>
