<script lang="ts" setup>
import AppLocale from '@/components/AppLocale.vue'
</script>

<template>
  <header>
    <div class="flex flex-row-reverse p-4 justify-between w-full">
      <AppLocale
        v-if="$i18n.availableLocales.length > 1"
        :additional-classes="'inline-flex items-center'"
      />
    </div>
  </header>
</template>

<style scoped></style>
