<script lang="ts" setup>
import CheckboxField from '@/components/fields/CheckboxField.vue'
import SelectField from '@/components/fields/SelectField.vue'
import TextareaField from '@/components/fields/TextareaField.vue'
import { Order } from '@/src/models/Order'
import { RefundReason } from '@/src/models/RefundReason'
import { useOrderStore } from '@/src/stores/useOrderStore'
import { useReturnStore } from '@/src/stores/useReturnStore'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { getMerchantSettingByKey } from '@/src/utils/merchant'
import { generateOptionItemObject, makeOptionItemObject } from '@/src/utils/optionItemObject'
import { PropType } from 'vue'

/**
 * Props.
 */
defineProps({
  orderData: {
    type: Object as PropType<Order>,
    required: true
  },
  orderReturnItems: {
    type: Array as PropType<OrderReturnItems[]>,
    required: true
  },
  refundReasonsData: {
    type: Array as PropType<RefundReason[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  }
})

/**
 * Imports.
 */
const orderStore = useOrderStore()
const returnStore = useReturnStore()

/**
 * Methods.
 */
const toggleCheckboxChange = (orderLineId: number) => {
  orderStore.toggleOrderReturnItemChange(orderLineId)
}
</script>

<template>
  <div class="relative w-full overflow-x-auto">
    <table class="w-full table-auto">
      <thead class="text-center capitalize">
        <tr>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.chose') }}</th>
          <!--          <th>{{ $t('pages.order.return.detailed.returnTable.header.productImage') }}</th>-->
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productTitle') }}</th>
          <th
            v-if="
              getMerchantSettingByKey(
                'pages.order.return.detailed.components.returningTableDesktop.table.productReturned.active'
              )
            "
          >
            {{ $t('pages.order.return.detailed.returnTable.header.productReturned') }}
          </th>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productQuantity') }}</th>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productReason') }}</th>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productComment') }}</th>
        </tr>
      </thead>
      <tbody v-if="orderReturnItems.length > 0 && !loading">
        <tr
          v-for="(item, index) in orderData.orderLines"
          :key="item.id"
          :class="
            getMerchantSettingByKey(
              'pages.order.return.detailed.components.returningTableDesktop.table.hideProductReturned'
            ) && returnStore.getReturnLinesQuantityByOrderLineId(item.id) >= item.quantity
              ? 'hidden'
              : ''
          "
        >
          <td class="text-center">
            <CheckboxField
              :id="`item-${item.id}-checkbox`"
              v-model="orderReturnItems[index].isChecked"
              additional-classes="w-5 h-5 bg-white border-solid border border-black rounded-[3px]"
              :name="`item-${index}-checkbox`"
              :disabled="returnStore.getReturnLinesQuantityByOrderLineId(item.id) >= item.quantity"
              @change="toggleCheckboxChange(item.id)"
            />
          </td>
          <!--          <td>-->
          <!--            <img-->
          <!--              width="40"-->
          <!--              height="40"-->
          <!--              alt="img"-->
          <!--              src="https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/fd09c4b5760c666a48fb8be7d81df4d5c903cb4b.webp"-->
          <!--            />-->
          <!--          </td>-->
          <td>
            <p :class="[{ 'text-gray-500': orderReturnItems[index].isDisabled }]">
              {{ item.description }}
            </p>
            <p :class="[{ 'text-gray-500': orderReturnItems[index].isDisabled }]">
              Size: {{ item.size }} | Color: {{ item.color }}
            </p>
          </td>
          <td
            v-if="
              getMerchantSettingByKey(
                'pages.order.return.detailed.components.returningTableDesktop.table.productReturned.active'
              )
            "
          >
            <p :class="[{ 'text-gray-500': orderReturnItems[index].isDisabled }]">
              {{ returnStore.getReturnLinesQuantityByOrderLineId(item.id) || 0 }}
            </p>
          </td>
          <td>
            <SelectField
              :id="`item-${item.id}-quantity`"
              v-model="orderReturnItems[index].quantity"
              :options="
                generateOptionItemObject(
                  item.quantity > returnStore.getReturnLinesQuantityByOrderLineId(item.id)
                    ? item.quantity - returnStore.getReturnLinesQuantityByOrderLineId(item.id)
                    : item.quantity
                )
              "
              :name="`item-${index}-quantity`"
              :disabled="orderReturnItems[index].isDisabled"
            />
          </td>
          <td>
            <SelectField
              :id="`item-${item.id}-refund-reason`"
              v-model="orderReturnItems[index].refundReasonId"
              :options="makeOptionItemObject(refundReasonsData, 'id', 'name')"
              :default-option="{
                value: 0,
                label: $t('components.selectField.defaultForReturnReason')
              }"
              :name="`item-${index}-refund-reason`"
              :disabled="orderReturnItems[index].isDisabled"
            />
          </td>
          <td>
            <TextareaField
              :id="`item-${item.id}-comment`"
              v-model="orderReturnItems[index].comment"
              additional-classes="p-1 peer block w-full"
              :placeholder="$t('components.textareaField.comment')"
              :name="`item-${index}-comment`"
              :rows="1"
              :cols="20"
              :disabled="orderReturnItems[index].isDisabled"
            />
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr class="container mx-auto max-w-sm animate-pulse p-4">
          <td class="w-1/12">
            <div class="h-4 rounded-full bg-gray-200 dark:bg-gray-400"></div>
          </td>
          <!--          <td class="w-1/12">-->
          <!--            <div-->
          <!--              class="flex h-12 w-12 items-center justify-center rounded bg-gray-300 dark:bg-gray-400"-->
          <!--            >-->
          <!--              <svg-->
          <!--                class="h-10 w-10 text-gray-200"-->
          <!--                xmlns="http://www.w3.org/2000/svg"-->
          <!--                aria-hidden="true"-->
          <!--                fill="currentColor"-->
          <!--                viewBox="0 0 640 512"-->
          <!--              >-->
          <!--                <path-->
          <!--                  d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z"-->
          <!--                />-->
          <!--              </svg>-->
          <!--            </div>-->
          <!--          </td>-->
          <td>
            <div class="h-4 rounded-full bg-gray-200 dark:bg-gray-400"></div>
          </td>
          <td
            v-if="
              getMerchantSettingByKey(
                'pages.order.return.detailed.components.returningTableDesktop.table.productReturned.active'
              )
            "
          >
            <div class="h-4 rounded-full bg-gray-200 dark:bg-gray-400"></div>
          </td>
          <td>
            <div class="h-4 rounded-full bg-gray-200 dark:bg-gray-400"></div>
          </td>
          <td>
            <div class="h-4 rounded-full bg-gray-200 dark:bg-gray-400"></div>
          </td>
          <td>
            <div class="h-4 rounded-full bg-gray-200 dark:bg-gray-400"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
table {
  td {
    @apply border-b border-t border-gray-300 px-8 py-4;
  }
}
</style>
