<script lang="ts" setup>
import ReturningTableDesktop from '@/components/tables/returningTable/ReturningTableDesktop.vue'
import ReturningTableMobile from '@/components/tables/returningTable/ReturningTableMobile.vue'
import { Order } from '@/src/models/Order'
import { RefundReason } from '@/src/models/RefundReason'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { PropType } from 'vue'

/**
 * Props.
 */
defineProps({
  orderData: {
    type: Object as PropType<Order>,
    required: true
  },
  orderReturnItems: {
    type: Array as PropType<OrderReturnItems[]>,
    required: true
  },
  refundReasonsData: {
    type: Array as PropType<RefundReason[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  }
})

/**
 * Refs.
 */
// const screenWidth = ref(screen.width) // Device Screen Width
const windowWidth = ref(window.innerWidth) // Browser Window Width

/**
 * Methods.
 */
const handleResize = () => {
  windowWidth.value = window.innerWidth
}

/**
 * Hooks.
 */
onMounted(() => {
  window.addEventListener('resize', handleResize)
})
onUnmounted(() => {
  window.removeEventListener('resize', handleResize)
})
</script>

<template>
  <div class="relative w-full">
    <ReturningTableDesktop
      v-if="windowWidth > 768"
      :loading="loading"
      :order-data="orderData"
      :order-return-items="orderReturnItems"
      :refund-reasons-data="refundReasonsData"
    />

    <ReturningTableMobile
      v-else
      :loading="loading"
      :order-data="orderData"
      :order-return-items="orderReturnItems"
      :refund-reasons-data="refundReasonsData"
    />
  </div>
</template>

<style scoped></style>
