<script lang="ts" setup>
import CheckboxField from '@/components/fields/CheckboxField.vue'
import SelectField from '@/components/fields/SelectField.vue'
import TextareaField from '@/components/fields/TextareaField.vue'
import { Order } from '@/src/models/Order'
import { RefundReason } from '@/src/models/RefundReason'
import { useOrderStore } from '@/src/stores/useOrderStore'
import { useReturnStore } from '@/src/stores/useReturnStore'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { getMerchantSettingByKey } from '@/src/utils/merchant'
import { generateOptionItemObject, makeOptionItemObject } from '@/src/utils/optionItemObject'
import { PropType } from 'vue'

/**
 * Props.
 */
defineProps({
  orderData: {
    type: Object as PropType<Order>,
    required: true
  },
  orderReturnItems: {
    type: Array as PropType<OrderReturnItems[]>,
    required: true
  },
  refundReasonsData: {
    type: Array as PropType<RefundReason[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  }
})

/**
 * Imports.
 */
const orderStore = useOrderStore()
const returnStore = useReturnStore()

/**
 * Methods.
 */
const toggleCheckboxChange = (orderLineId: number) => {
  orderStore.toggleOrderReturnItemChange(orderLineId)
}
</script>

<template>
  <div class="relative w-full">
    <table class="w-full table-auto">
      <thead class="text-center capitalize">
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody v-if="orderReturnItems.length > 0 && !loading">
        <tr
          v-for="(item, index) in orderData.orderLines"
          :key="item.id"
          :class="
            getMerchantSettingByKey(
              'pages.order.return.detailed.components.returningTableDesktop.table.hideProductReturned'
            ) && returnStore.getReturnLinesQuantityByOrderLineId(item.id) >= item.quantity
              ? 'hidden'
              : ''
          "
        >
          <td class="pr-6">
            <CheckboxField
              :id="`item-${item.id}-checkbox`"
              v-model="orderReturnItems[index].isChecked"
              additional-classes="w-6 h-6 bg-white border-solid border border-black rounded-[3px]"
              :name="`item-${index}-checkbox`"
              :disabled="returnStore.getReturnLinesQuantityByOrderLineId(item.id) >= item.quantity"
              @change="toggleCheckboxChange(item.id)"
            />
          </td>
          <td class="text-left space-y-3">
            <div>
              <h2 :class="[{ 'text-gray-500': orderReturnItems[index].isDisabled }]">
                {{ item.description }}
              </h2>
              <h3 :class="[{ 'text-gray-500': orderReturnItems[index].isDisabled }]">
                Size: {{ item.size }} | Color: {{ item.color }}
              </h3>
            </div>

            <div class="flex gap-8 flex-row items-center justify-between">
              <div
                v-if="
                  getMerchantSettingByKey(
                    'pages.order.return.detailed.components.returningTableDesktop.table.productReturned.active'
                  )
                "
                class="flex items-center"
              >
                <p class="pr-2">
                  {{ $t('pages.order.return.detailed.returnTable.header.productReturned') }}:
                </p>
                <p :class="[{ 'text-gray-500': orderReturnItems[index].isDisabled }]">
                  {{ returnStore.getReturnLinesQuantityByOrderLineId(item.id) || 0 }}
                </p>
              </div>

              <div class="flex items-center">
                <p class="pr-2">
                  {{ $t('pages.order.return.detailed.returnTable.header.productQuantity') }}:
                </p>
                <SelectField
                  :id="`item-${item.id}-quantity`"
                  v-model="orderReturnItems[index].quantity"
                  :options="
                    generateOptionItemObject(
                      item.quantity > returnStore.getReturnLinesQuantityByOrderLineId(item.id)
                        ? item.quantity - returnStore.getReturnLinesQuantityByOrderLineId(item.id)
                        : item.quantity
                    )
                  "
                  :name="`item-${index}-quantity`"
                  :disabled="orderReturnItems[index].isDisabled"
                />
              </div>
            </div>

            <div>
              <SelectField
                :id="`item-${item.id}-refund-reason`"
                v-model="orderReturnItems[index].refundReasonId"
                additional-classes="p-1 peer block w-full"
                :options="makeOptionItemObject(refundReasonsData, 'id', 'name')"
                :default-option="{
                  value: 0,
                  label: $t('components.selectField.defaultForReturnReason')
                }"
                :name="`item-${index}-refund-reason`"
                :disabled="orderReturnItems[index].isDisabled"
              />
            </div>

            <div>
              <TextareaField
                :id="`item-${item.id}-comment`"
                v-model="orderReturnItems[index].comment"
                additional-classes="p-1 peer block w-full"
                :placeholder="$t('components.textareaField.comment')"
                :name="`item-${index}-comment`"
                :rows="1"
                :cols="20"
                :disabled="orderReturnItems[index].isDisabled"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
table {
  td {
    @apply border-b border-gray-300 py-4;
  }
}
</style>
