<script lang="ts" setup>
import AppButton from '@/components/AppButton.vue'
import AppLogo from '@/components/base/AppLogo.vue'
import ReturnedTable from '@/components/tables/returnedTable/ReturnedTable.vue'
import ReturningTable from '@/components/tables/returningTable/ReturningTable.vue'
import { FrontendRouteEnum } from '@/src/enums/route'
import { Order } from '@/src/models/Order'
import { RefundReason } from '@/src/models/RefundReason'
import { Return } from '@/src/models/Return'
import { useOrderStore } from '@/src/stores/useOrderStore'
import { useRefundStore } from '@/src/stores/useRefundStore'
import { useReturnStore } from '@/src/stores/useReturnStore'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { computed, onMounted, reactive } from 'vue'
import { Collapse } from 'vue-collapsed'
import { useI18n } from 'vue-i18n'

/**
 * Imports.
 */
const { t } = useI18n({ useScope: 'global' })
const orderStore = useOrderStore()
const returnStore = useReturnStore()
const refundStore = useRefundStore()

/**
 * Refs.
 */
const loading = ref(true)
const isLoadingButton = ref(false)
const showAlreadyReturned = ref(false)

/**
 * Reactive data.
 */
const formDataErrors = reactive<string[]>([])

/**
 * Computed properties.
 */
const orderData = computed<Order>(() => orderStore.getOrderData)
const returnsData = computed<Return[]>(() => returnStore.getReturnsData)
const orderReturnItems = computed<OrderReturnItems[]>(() => orderStore.getOrderReturnItemsData)
const orderReturnItemsChecked = computed<OrderReturnItems[]>(
  () => orderStore.getOrderReturnItemsChecked
)
const refundReasonsData = computed<RefundReason[]>(() => refundStore.getRefundReasonsData)

/**
 * Methods.
 */
const fetchReturnData = async () => {
  await returnStore.fetchReturnByOrderNumberEmailPostcode(
    orderData.value.number,
    orderData.value.email,
    orderData.value.postcode
  )
}
const fetchOrderReturnData = () => {
  if (orderStore.getOrderReturnItemsChecked.length < 1) {
    orderStore.$resetOrderReturnItems()
    orderStore.$resetOrderReturnItemsChecked()
    orderStore.initializeOrderReturnItem(returnStore.getReturnLinesData)
  }
}

const handleReturnOrderItems = async () => {
  validateOrderReturnItemsChecked()
  if (formDataErrors.length > 0) {
    return
  }

  isLoadingButton.value = true
  await navigateTo(FrontendRouteEnum.processingReturnOrder)
  isLoadingButton.value = false
}
const validateOrderReturnItemsChecked = () => {
  rollbackFormDataErrors()

  if (orderReturnItemsChecked.value.length < 1) {
    formDataErrors.push(t('pages.order.return.detailed.returnErrors.noItems') as string)
  }

  for (const item of orderReturnItemsChecked.value) {
    if (item.quantity === 0) {
      const reasonField = document.getElementById(`item-${item.orderLineId}-quantity`)
      const selectField = reasonField?.querySelector('select')
      selectField?.classList.add('border-[2px]')
      selectField?.classList.add('border-red-500')

      formDataErrors.push(t('pages.order.return.detailed.returnErrors.noQuantity') as string)
    }

    if (item.refundReasonId === 0) {
      const reasonField = document.getElementById(`item-${item.orderLineId}-refund-reason`)
      const selectField = reasonField?.querySelector('select')
      selectField?.classList.add('border-[2px]')
      selectField?.classList.add('border-red-500')

      formDataErrors.push(t('pages.order.return.detailed.returnErrors.noReason') as string)
    }
  }
}
const rollbackFormDataErrors = () => {
  formDataErrors.length = 0

  const selectFields = document.querySelectorAll('select')
  selectFields.forEach((selectField) => {
    selectField.classList.remove('border-[2px]')
    selectField.classList.remove('border-red-500')
  })
}

/**
 * Hooks.
 */
onMounted(async () => {
  await fetchReturnData()
  fetchOrderReturnData()
  await refundStore.fetchRefundReasons()

  loading.value = false
})
</script>

<template>
  <div class="container order-return-detailed">
    <div class="flex flex-col-reverse items-start justify-around">
      <div class="relative">
        <h1 class="page-header">
          {{ $t('pages.order.return.detailed.title') }}
        </h1>
      </div>
      <div class="relative">
        <AppLogo type="small" />
      </div>
    </div>

    <ReturningTable
      :loading="loading"
      :order-data="orderData"
      :order-return-items="orderReturnItems"
      :refund-reasons-data="refundReasonsData"
    />

    <div v-if="formDataErrors.length > 0" class="relative text-red-500 p-6">
      <p v-for="error in formDataErrors" :key="error">{{ error }}</p>
    </div>
    <div class="py-4">
      <div class="flex flex-col-reverse items-center md:flex-row gap-10">
        <div v-if="returnsData.length > 0" class="relative">
          <AppButton :disabled="loading" @click="showAlreadyReturned = !showAlreadyReturned">
            {{
              !showAlreadyReturned
                ? $t('pages.order.return.detailed.components.AppButton.showAlreadyReturned')
                : $t('pages.order.return.detailed.components.AppButton.hideAlreadyReturned')
            }}
          </AppButton>
        </div>
        <div class="relative">
          <AppButton
            :disabled="loading"
            :loading="isLoadingButton as boolean"
            @click="handleReturnOrderItems"
          >
            {{ $t('components.appButton.next') }}
          </AppButton>
        </div>
      </div>
    </div>

    <Collapse
      :when="showAlreadyReturned"
      class="v-collapse transition-[height] duration-[600ms] ease-[cubic-bezier(0.33,1,0.68,1)]"
    >
      <h2 class="py-10 text-[30px] leading-[normal]">
        {{ $t('pages.order.return.detailed.returnedTable.title') }}
      </h2>

      <ReturnedTable
        :loading="loading"
        :returns-data="returnsData"
        :order-return-items="orderReturnItems"
      />
    </Collapse>
  </div>
</template>

<style scoped>
td {
  @apply border-b border-t border-gray-300 px-8 py-4;
}
</style>
