<script lang="ts" setup>
import AppButton from '@/components/AppButton.vue'
import AppLogo from '@/components/base/AppLogo.vue'
import InputField from '@/components/fields/InputField.vue'
import { FrontendRouteEnum } from '@/src/enums/route'
import { useOrderStore } from '@/src/stores/useOrderStore'
import { getMerchantSettingByKey } from '@/src/utils/merchant'
import useVuelidate from '@vuelidate/core'
import { email, maxLength, minLength, required } from '@vuelidate/validators'
import { Ref } from 'vue'

definePageMeta({
  title: 'EYDA | Returns'
})

/**
 * Imports.
 */
const orderStore = useOrderStore()

/**
 * Refs.
 */
const isLoadingButton = ref(false)

/**
 * Reactive data.
 */
const formData = reactive({
  orderNumber: '',
  orderEmail: '',
  orderPostcode: ''
})
const formDataErrors = reactive<string[]>([])

/**
 * Vuelidate.
 */
const rules = {
  orderNumber: { required, minLength: minLength(3), maxLength: maxLength(40) },
  orderEmail: { required, email, minLength: minLength(5), maxLength: maxLength(100) },
  orderPostcode: { minLength: minLength(3), maxLength: maxLength(20) }
}
const v$ = useVuelidate(
  rules,
  formData as unknown as Ref<{
    orderNumber: string
    orderEmail: string
    orderPostcode: string
  }>
)

/**
 * Methods.
 */
const handleOrderData = async () => {
  const result = await v$.value.$validate()
  if (!result) {
    return
  }

  formDataErrors.length = 0
  isLoadingButton.value = true
  orderStore.$reset()

  try {
    await orderStore.fetchOrderForReturn(
      formData.orderNumber as string,
      formData.orderEmail as string,
      formData.orderPostcode as string
    )

    if (checkOrderData()) {
      await navigateTo(FrontendRouteEnum.detailedReturnOrder)
      isLoadingButton.value = false
    }
  } catch (error: any) {
    const errorsParsed = JSON.parse(error.message)
    isLoadingButton.value = false

    for (const key in errorsParsed) {
      formDataErrors.push(errorsParsed[key][0].message as string)
    }
  }
}
const checkOrderData = () => {
  if (
    orderStore.getOrderData?.number === formData.orderNumber &&
    orderStore.getOrderData?.email === formData.orderEmail
  ) {
    return true
  } else {
    console.error('Order data does not match.')

    return false
  }
}

/**
 * Hooks.
 */
watch([() => formData.orderNumber, () => formData.orderEmail, () => formData.orderPostcode], () => {
  formDataErrors.length = 0
})
</script>

<template>
  <div class="container order-return-index">
    <div class="page-header">
      <div class="content">
        <div class="flex-col">
          <h1 class="">
            {{ $t('pages.order.return.index.title') }}
          </h1>
          <p class="" v-html="$t('pages.order.return.index.description')"></p>
        </div>
      </div>
      <div class="logo">
        <AppLogo
          :type="getMerchantSettingByKey('pages.order.return.index.components.appLogo.type')"
        />
      </div>
    </div>

    <form class="order-return-index--form" @submit.prevent="handleOrderData">
      <InputField
        id="orderNumber"
        v-model.trim="formData.orderNumber"
        type="text"
        :placeholder="$t('components.inputField.orderNumber')"
        :error="v$?.orderNumber?.$errors[0]?.$message as string"
      />
      <InputField
        id="orderEmail"
        v-model.trim="formData.orderEmail"
        type="email"
        :placeholder="$t('components.inputField.orderEmail')"
        :error="v$?.orderEmail?.$errors[0]?.$message as string"
      />
      <InputField
        v-if="
          getMerchantSettingByKey(
            'pages.order.return.index.components.inputField.orderPostcode.active'
          )
        "
        id="orderPostcode"
        v-model.trim="formData.orderPostcode"
        type="text"
        :placeholder="$t('components.inputField.orderPostcode')"
        :error="v$?.orderPostcode?.$errors[0]?.$message as string"
      />
      <div v-if="formDataErrors.length > 0" class="relative sm:w-full md:w-1/4 text-red-500">
        <p v-for="error in formDataErrors" :key="error">{{ error }}</p>
      </div>
      <AppButton
        :loading="isLoadingButton as boolean"
        :disabled="v$.$invalid || formDataErrors.length > 0"
      >
        {{ $t('pages.order.return.index.components.AppButton.startReturn') }}
      </AppButton>
    </form>
  </div>
</template>

<style scoped></style>
