<script lang="ts" setup>
import AppButton from '@/components/AppButton.vue'
import AppLogo from '@/components/base/AppLogo.vue'
import RadioBlockField from '@/components/fields/RadioBlockField.vue'
import ProcessingTable from '@/components/tables/processingTable/ProcessingTable.vue'
import { FundsTypeEnum } from '@/src/enums/fundsType'
import { FrontendRouteEnum } from '@/src/enums/route'
import { Order } from '@/src/models/Order'
import { Return } from '@/src/models/Return'
import { apiClient } from '@/src/modules/ApiClient'
import { useOrderStore } from '@/src/stores/useOrderStore'
import { useReturnStore } from '@/src/stores/useReturnStore'
import OrderReturn from '@/src/types/attributes/orderReturn'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { getMerchantSettingByKey, isReturnProcessingRadioBlockFields } from '@/src/utils/merchant'
import { computed, reactive } from 'vue'

/**
 * Imports.
 */
const orderStore = useOrderStore()
const returnStore = useReturnStore()

/**
 * Refs.
 */
const isLoadingButton = ref(false)

/**
 * Reactive data.
 */
const formDataErrors = reactive<string[]>([])

/**
 * Computed properties.
 */
const orderData = computed<Order>(() => orderStore.getOrderData)
const orderReturn = computed<OrderReturn>(() => orderStore.getOrderReturnData)
const orderReturnItemsChecked = computed<OrderReturnItems[]>(
  () => orderStore.getOrderReturnItemsChecked
)
const returnData = computed<Return>(() => returnStore.getReturnData)

/**
 * Methods.
 */
const storeReturnOrderItems = async () => {
  if (orderReturnItemsChecked.value.length < 1) return

  formDataErrors.length = 0
  isLoadingButton.value = true

  try {
    await returnStore.storeReturnOrderItems(
      orderData.value.number,
      orderData.value.email,
      orderData.value.postcode,
      orderReturn.value,
      orderReturnItemsChecked.value
    )

    await apiClient().fetchReturnGenerateLabel(
      orderData.value.id,
      returnData.value.id,
      getMerchantSettingByKey('general.return.defaultLabelFileType')
    )
  } catch (error) {
    const errorsParsed = JSON.parse(error.message)
    for (const key in errorsParsed) {
      formDataErrors.push(errorsParsed[key][0].message as string)
    }

    isLoadingButton.value = false

    return
  }

  await navigateTo(FrontendRouteEnum.processedReturnOrder)
}
const goToDetailedReturnOrder = async () => {
  orderStore.$resetOrderReturnItems()
  orderStore.$resetOrderReturnItemsChecked()
  await navigateTo(FrontendRouteEnum.detailedReturnOrder)
}

/**
 * Hooks.
 */
onMounted(async () => {
  if (orderReturnItemsChecked.value.length < 1) {
    await navigateTo(FrontendRouteEnum.detailedReturnOrder)
  }

  if (
    !getMerchantSettingByKey(
      'pages.order.return.processing.components.radioBlockField.refund.active'
    ) &&
    !getMerchantSettingByKey(
      'pages.order.return.processing.components.radioBlockField.giftCard.active'
    )
  ) {
    orderReturn.value.orderReturnFundsType = 'default'
  }

  orderReturn.value.orderReturnLabelType = getMerchantSettingByKey(
    'general.return.defaultLabelFileType'
  )
})
</script>

<template>
  <div class="container mx-auto p-4 order-return-processing">
    <div class="flex flex-col-reverse items-start justify-around pb-10 pt-4 lg:pt-8 2xl:pt-16">
      <div class="relative">
        <h1 class="page-header">
          {{ $t('pages.order.return.processing.title') }}
        </h1>
      </div>
      <div class="relative">
        <AppLogo type="small" />
      </div>
    </div>

    <ProcessingTable :order-return-items-checked="orderReturnItemsChecked" />

    <div v-if="isReturnProcessingRadioBlockFields" class="relative">
      <h3 class="py-10 text-[20px] leading-[normal]">
        {{ $t('pages.order.return.processing.returnFundsTypeTitle') }}
      </h3>
      <div class="flex flex-col items-center md:flex-row gap-10">
        <RadioBlockField
          v-if="
            getMerchantSettingByKey(
              'pages.order.return.processing.components.radioBlockField.refund.active'
            )
          "
          v-model="orderReturn.orderReturnFundsType"
          name="orderReturnFundsType"
          :value="FundsTypeEnum.refund"
          :label="$t('pages.order.return.processing.components.radioBlockField.refund.title')"
          :hint="$t('pages.order.return.processing.components.radioBlockField.refund.hint')"
        />
        <RadioBlockField
          v-if="
            getMerchantSettingByKey(
              'pages.order.return.processing.components.radioBlockField.giftCard.active'
            )
          "
          v-model="orderReturn.orderReturnFundsType"
          name="orderReturnFundsType"
          :value="FundsTypeEnum.giftCard"
          :label="$t('pages.order.return.processing.components.radioBlockField.giftCard.title')"
          :hint="$t('pages.order.return.processing.components.radioBlockField.giftCard.hint')"
        />
      </div>
    </div>

    <div v-if="formDataErrors.length > 0" class="relative text-red-500">
      <p v-for="error in formDataErrors" :key="error">{{ error }}</p>
    </div>

    <div class="pt-10">
      <div class="flex flex-row items-center justify-between md:justify-start gap-10">
        <div class="relative">
          <AppButton :additional-classes="'button-back'" @click="goToDetailedReturnOrder()">
            {{ $t('components.appButton.back') }}
          </AppButton>
        </div>
        <div class="relative">
          <AppButton
            :additional-classes="'button-next'"
            :disabled="orderReturn.orderReturnFundsType === null || formDataErrors.length > 0"
            :loading="isLoadingButton as boolean"
            @click.once="storeReturnOrderItems"
          >
            {{ $t('components.appButton.confirm') }}
          </AppButton>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
