<script lang="ts" setup>
import AppButton from '@/components/AppButton.vue'
import AppLogo from '@/components/base/AppLogo.vue'
import AppModal from '@/components/modal/AppModal.vue'
import { ReturnLabelTypeEnum } from '@/src/enums/returnLabelType'
import { APIRouteEnum, FrontendRouteEnum } from '@/src/enums/route'
import { Order } from '@/src/models/Order'
import { Return } from '@/src/models/Return'
import { apiClient } from '@/src/modules/ApiClient'
import { useOrderStore } from '@/src/stores/useOrderStore'
import { useReturnStore } from '@/src/stores/useReturnStore'
import { getMerchantSettingByKey } from '@/src/utils/merchant'
import { computed } from 'vue'

/**
 * Imports.
 */
const runtimeConfig = useRuntimeConfig()
const orderStore = useOrderStore()
const returnStore = useReturnStore()

/**
 * Refs.
 */
const showModal = ref(false)
const downloadQRCodeButton = ref(false)
const downloadReturnLabelButton = ref(false)
const returnLabelLink = ref('')
const returnLabelType = ref('')

/**
 * Reactive data.
 */
const formDataErrors = reactive<string[]>([])

/**
 * Computed properties.
 */
const orderData = computed<Order>(() => orderStore.getOrderData)
const returnData = computed<Return>(() => returnStore.getReturnData)

/**
 * Methods.
 */
const handleCloseModal = () => {
  showModal.value = false
  returnLabelLink.value = ''
}
const createAnotherReturnLabel = async () => {
  orderStore.$reset()
  returnStore.$reset()
  await navigateTo(FrontendRouteEnum.initReturnOrder)
}
const fetchReturnGenerateLabel = async (labelType: string) => {
  switch (labelType) {
    case ReturnLabelTypeEnum.qr:
      downloadQRCodeButton.value = true
      break
    case ReturnLabelTypeEnum.pdf:
      downloadReturnLabelButton.value = true
      break
  }

  formDataErrors.length = 0
  returnLabelType.value = labelType

  try {
    const response = await apiClient().fetchReturnGenerateLabel(
      orderData.value.id,
      returnData.value.id,
      labelType
    )

    returnLabelLink.value =
      runtimeConfig.public.API_BASE_URL +
      `${APIRouteEnum.fetchReturnGenerateLabel}?order-id=${orderData.value.id}&return-id=${returnData.value.id}&label-type=${labelType}`

    showModal.value = true
    downloadQRCodeButton.value = false
    downloadReturnLabelButton.value = false

    return response
  } catch (error: any) {
    const errorsParsed = JSON.parse(error.message)
    downloadQRCodeButton.value = false
    downloadReturnLabelButton.value = false

    for (const key in errorsParsed) {
      formDataErrors.push(errorsParsed[key][0].message as string)
    }
  }
}

const printLabel = (labelType: ReturnLabelTypeEnum) => {
  if (labelType === ReturnLabelTypeEnum.qr) {
    const url = returnLabelLink.value
    const name = '_blank'
    const props = ['fullscreen=yes', 'titlebar=yes', 'scrollbars=yes']

    const windowRef = window.open(url, name, props.join(','))
    if (!windowRef) {
      return
    }
    if (!windowRef.opener) {
      windowRef.opener = self
    }
    windowRef.focus()

    const printWindow = windowRef
    printWindow.document.write(`
        <html lang="en">
          <head>
            <title>${window.document.title}</title>
          </head>
          <body>
            <img style="position:absolute;margin:auto;top:0;left:0;right:0;bottom:0;" width="200" alt="QR code" src="${url}" />
          </body>
        </html>
      `)

    printWindow.document.close()
    printWindow.focus()

    printWindow.onafterprint = function () {
      handleCloseModal()
      printWindow.close()
    }

    printWindow.print()
  }
}

/**
 * Hooks.
 */
onMounted(() => {
  orderStore.$resetOrderReturnItemsChecked()
})
</script>

<template>
  <div class="container mx-auto p-4">
    <div class="flex flex-col-reverse items-start justify-around pb-10 pt-4 lg:pt-8 2xl:pt-16">
      <div class="relative">
        <h1 class="py-10 text-[40px] leading-[normal]">
          {{ $t('pages.order.return.processed.title') }}
        </h1>
        <p class="whitespace-pre-line">
          {{ $t('pages.order.return.processed.description.first') }}
          <b>{{ orderData.email }}</b>
          {{ $t('pages.order.return.processed.description.second') }}
        </p>
      </div>
      <div class="relative">
        <AppLogo type="small" />
      </div>
    </div>
    <div class="py-12">
      <p>
        {{
          $t('pages.order.return.processed.hint.beforeOrderNumber') +
          orderData.number +
          ' ' +
          $t('pages.order.return.processed.hint.afterOrderNumber')
        }}
      </p>
    </div>

    <div class="flex flex-col items-center md:flex-row md:space-x-6">
      <div
        v-if="
          getMerchantSettingByKey(
            'pages.order.return.processed.components.appButton.downloadQRCode.active'
          )
        "
        class="relative py-2"
      >
        <AppButton
          :loading="downloadQRCodeButton as boolean"
          :additional-classes="'capitalize'"
          @click="fetchReturnGenerateLabel(ReturnLabelTypeEnum.qr)"
          >{{
            $t('pages.order.return.processed.components.appButton.downloadReturn.qr')
          }}</AppButton
        >
      </div>
      <div
        v-if="
          getMerchantSettingByKey(
            'pages.order.return.processed.components.appButton.downloadPDFLabel.active'
          )
        "
        class="relative py-2"
      >
        <AppButton
          :loading="downloadReturnLabelButton as boolean"
          :additional-classes="'capitalize'"
          @click="fetchReturnGenerateLabel(ReturnLabelTypeEnum.pdf)"
          >{{
            $t('pages.order.return.processed.components.appButton.downloadReturn.pdf')
          }}</AppButton
        >
      </div>
      <div class="relative py-2">
        <AppButton @click="createAnotherReturnLabel">
          {{ $t('components.appButton.create') }}
          {{ $t('pages.order.return.processed.components.appButton.createAnotherReturnLabel') }}
        </AppButton>
      </div>
    </div>
    <div v-if="formDataErrors.length > 0" class="relative text-red-500">
      <p v-for="error in formDataErrors" :key="error">{{ error }}</p>
    </div>

    <AppModal
      v-show="showModal"
      :additional-classes="[
        returnLabelType === ReturnLabelTypeEnum.pdf ? 'w-[90%] h-[90%]' : '',
        returnLabelType === ReturnLabelTypeEnum.qr ? 'sm:w-[80%] md:w-[45%] lg:w-[20%]' : ''
      ]"
      :loading="returnLabelLink === '' && formDataErrors.length === 0"
      @close-modal="handleCloseModal"
    >
      <template #header>
        <h2 class="text-xl font-bold uppercase">
          {{ $t('pages.order.return.detailed.components.AppModal.header.' + returnLabelType) }}
        </h2>
      </template>
      <template #content>
        <div v-if="formDataErrors.length > 0" class="relative text-red-500">
          <p v-for="error in formDataErrors" :key="error">{{ error }}</p>
        </div>

        <div v-else-if="returnLabelType === ReturnLabelTypeEnum.pdf" class="w-[100%] h-[100%]">
          <iframe
            ref="iframe"
            class="iframe flex-1 w-full h-full border-[none]"
            :src="returnLabelLink"
          ></iframe>
        </div>
        <div v-else-if="returnLabelType === ReturnLabelTypeEnum.qr">
          <img
            class="w-[100%] h-[100%] cursor-pointer"
            alt="QR code"
            :src="returnLabelLink"
            @click="printLabel(ReturnLabelTypeEnum.qr)"
          />
        </div>
      </template>
    </AppModal>
  </div>
</template>

<style scoped></style>
