@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Interstate;
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: local(Interstate), url('../../../fonts/Interstate/interstate-Regular-Font.woff') format('woff');
    }
    @font-face {
        font-family: Elmhurst Bd;
        font-style: normal;
        font-weight: bold;
        src: local(Elmhurst Bd), url('../../../fonts/Elmhurst/Elmhurst-Bold.otf') format('otf');
    }
}

/**
 * Layout: Default
 */
.layout-default {
    @apply bg-[rgba(0,0,0,0)];
}
.container {
    @apply mx-auto p-6 text-black;
}
h1 {
    @apply font-bold text-[1.6rem] leading-[1.138] pb-4;
    font-family: Interstate, serif;
}
h2 {
    @apply font-bold text-2xl leading-8 mb-4 mt-4;
    font-family: Interstate, serif;
}
div,
h3,
h4,
h5,
h6,
span,
p,
a,
button,
input,
textarea,
select,
label {
    @apply text-base leading-[1.6];
    -webkit-font-smoothing: antialiased;
    font-family: Interstate, serif;
}
textarea {
    @apply text-left;
}

/**
 * Page: Order -> Return -> index
 */
.order-return-index {
    .page-header {
        @apply container flex flex-col-reverse items-center justify-around pt-1 lg:pt-8;

        .content {
            @apply relative flex items-center lg:py-2 max-w-[360px];

            h1 {
                @apply pt-8 md:pt-3;
            }
            p {
                @apply pt-2 text-left;
            }
        }
        .logo {
            @apply relative;
        }
    }
    form {
        @apply flex flex-col items-center gap-5 text-center;

        input {
            @apply h-14 w-[360px];
        }
    }
}
/**
 * Page: Order -> Return -> detailed
 */
.order-return-detailed {
    .page-header {
        @apply py-10;
    }
}
/**
 * Page: Order -> Return -> processing
 */
.order-return-processing {
    .page-header {
        @apply py-10;
    }

    .button-back {
        background-color: rgba(9, 2, 59, 0.65);
    }
}

/**
 * Component: AppButton
 */
.app-button {
    @apply inline-flex items-center justify-center px-6 py-3.5 bg-[rgba(9,2,59,var(--tw-bg-opacity))] text-[rgba(255,255,255,var(--tw-text-opacity))] tracking-[0.5px] leading-none duration-[0.3s] transition-colors ease-[cubic-bezier(.4,0,0.2,1)] rounded-[50px];
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
}
.app-button--default {
    @apply focus:outline-none hover:bg-black hover:text-white;
}

/**
 * Component: InputField
 */
.app-input {
    @apply w-full h-full px-4 border-none rounded-[50px];
    --tw-bg-opacity: 1;
    background-color: rgba(241,245,249,var(--tw-bg-opacity));

    .app-input--disabled {
        @apply border-gray-200 text-gray-500 bg-gray-50 shadow-none;
    }
    .app-input--error {
        @apply border-[2px] border-[#DC2626];
    }
}
