<script lang="ts" setup>
import Footer from '@/layouts/default/footer.vue'
import Header from '@/layouts/default/header.vue'
import { getMerchantSettingByKey } from '@/src/utils/merchant'

const route = useRoute()

useSeoMeta({
  title: `${route.meta.title ?? getMerchantSettingByKey('general.return.useSeoMeta.defaultTitle')}`
})
</script>

<template>
  <div class="layout-default flex min-h-screen flex-col">
    <Header class="layout-default--header" />
    <main class="flex-auto">
      <slot />
    </main>
    <Footer class="layout-default--footer" />
  </div>
</template>

<style scoped></style>
