{# templates/emails/return_label_template.html.twig #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="{{ user_locale }}" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>{{ 'email.return_label_template.body.title' | trans({}, 'emails') }} | {{ return.order.Reference }}</title>
    <!--[if (mso 16)]>
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
    <![endif]-->
    <!--[if gte mso 9]>
    <style>sup {
        font-size: 100% !important;
    }</style><![endif]-->
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG></o:AllowPNG>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <style type="text/css">
        body {
            font-family: sans-serif;
        }

        .content {
            padding: 1rem 2rem;
        }

        .container-table {
            overflow-x: auto;
            position: relative;
            width: 100%;
        }

        .table {
            width: 100%;
            table-layout: auto;
            text-align: left;
        }

        .table-thead {
            text-transform: capitalize;
        }
        .table-thead th {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .table-tbody td {
            padding-left: 2rem;
            padding-right: 2rem;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-color: #D1D5DB;
        }
    </style>
</head>

<body>
    <div class="container">
        <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" color="#ffffff"></v:fill>
        </v:background>
        <![endif]-->

        <div class="content" style="text-align: center">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="300" viewBox="0 0 1522.000000 404.000000"
                 preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,404.000000) scale(0.100000,-0.100000)"
                   fill="#000000" stroke="none">
                    <path d="M8656 4029 c-254 -15 -625 -64 -833 -109 l-53 -12 0 -1919 0 -1919
255 0 255 0 0 1769 0 1769 38 6 c179 27 563 41 747 27 657 -51 1064 -324 1275
-855 35 -88 73 -233 96 -366 24 -144 30 -522 10 -676 -76 -577 -375 -1052
-790 -1254 -55 -27 -141 -60 -191 -72 -83 -21 -112 -23 -365 -23 l-275 0 -65
-31 c-36 -17 -91 -55 -123 -84 -55 -50 -137 -157 -137 -178 0 -24 324 -79 544
-93 253 -15 411 -3 611 48 707 182 1253 870 1344 1695 16 140 13 442 -4 592
-113 961 -734 1558 -1741 1670 -176 20 -419 26 -598 15z"/>
                    <path d="M50 2020 l0 -1950 1153 2 1152 3 0 190 0 190 -897 3 -898 2 0 1560 0
1560 858 2 857 3 0 190 0 190 -1112 3 -1113 2 0 -1950z"/>
                    <path d="M3370 3960 c0 -6 76 -138 169 -293 300 -503 1043 -1749 1103 -1852
l58 -100 0 -822 0 -823 250 0 250 0 0 903 -1 902 -627 1045 -628 1045 -287 3
c-196 1 -287 -1 -287 -8z"/>
                    <path d="M5927 3963 c-79 -135 -628 -1123 -671 -1206 l-61 -118 0 -132 c1
-125 2 -136 33 -212 17 -44 50 -109 73 -144 34 -54 42 -62 53 -50 16 16 1136
1855 1136 1863 0 9 -558 7 -563 -1z"/>
                    <path d="M13225 3898 c-14 -40 -177 -489 -360 -998 -447 -1241 -894 -2481
-961 -2664 -30 -82 -54 -153 -54 -158 0 -4 114 -8 254 -8 l253 0 159 463 159
462 665 2 c366 2 671 5 678 8 16 6 -23 95 -83 186 -56 84 -122 142 -195 172
-54 22 -62 22 -497 22 -244 0 -443 4 -443 8 0 4 10 26 21 49 29 57 623 1759
639 1831 19 85 28 84 45 -3 7 -32 212 -627 864 -2505 l239 -690 271 -3 c293
-3 284 -4 261 50 -9 22 -44 118 -289 803 -62 171 -333 924 -604 1675 l-492
1365 -251 3 -252 2 -27 -72z"/>
                    <path d="M1100 2286 c-72 -19 -122 -47 -168 -93 -71 -71 -171 -240 -156 -264
3 -5 286 -9 660 -9 l654 0 0 190 0 190 -472 -1 c-343 0 -485 -4 -518 -13z"/>
                </g>
            </svg>
        </div>

        <div class="content">
            <h1>{{ 'email.return_label_template.body.title' | trans({}, 'emails') }}</h1>
        </div>

        <div class="content">
            {{ 'email.return_label_template.body.content' | trans({}, 'emails') | raw }}
        </div>

        <div class="container-table">
            <div class="content">
                <h2>{{ 'email.return_label_template.body.table.title' | trans({}, 'emails') }}</h2>
            </div>

            <table class="table">
                <thead class="table-thead">
                    <tr>
                        <th>
                            <p>Product Name</p>
                        </th>
                        <th style="text-align: center;">
                            <p>Returned</p>
                        </th>
                        <th style="text-align: center;">
                            <p>Quantity</p>
                        </th>
                        <th>
                            <p>Reason</p>
                        </th>
                        <th>
                            <p>Comment</p>
                        </th>
                    </tr>
                </thead>

                <tbody class="table-tbody">
                    {% for return_line in return_lines %}
                        <tr>
                            <td>
                                <p>{{ return_line.product_name | convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
                            </td>
                            <td style="text-align: center;">
                                <p>{{ return_line.returned_quantity }}</p>
                            </td>
                            <td style="text-align: center;">
                                <p>{{ return_line.returning_quantity }}</p>
                            </td>
                            <td>
                                <p>{{ return_line.refund_reason | convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
                            </td>
                            <td>
                                <p>{{ return_line.comment | convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="content">
            <p>{{ 'email.return_label_template.body.shopify_order_number' | trans({'%shopify_order_number%': return.order.Reference}, 'emails') | raw }}</p>
        </div>

        <div class="content">
            {{ 'email.return_label_template.body.footer' | trans({
                '%tracking_code%': return.trackingCode,
                '%order_email%': return.order.email,
                '%order_phone%': return.order.phone
            }, 'emails') | raw }}
        </div>
    </div>
</body>
</html>
