<template>
	<div>
		<div class="error">
			<h1>{{error.statusCode}} Page not found</h1>
		</div>
   <NuxtLink to="/">Home page</NuxtLink>
  </div>
</template>

<script>


export default {
 	props: ['error'],
	data() {
		return {
		}
	},
	created() {
	},
	methods: {
		
	}
}
</script>
