<template>
  <div>
  	<div class="content">
  		<Nuxt />
  	</div>
  	<Loader/>
  	<div class="toast-container" >
  		<div class="toast align-items-center text-white border-0" :class="error.errortype" v-for="error in $store.state.errors.errorlist">
			<div class="d-flex">
				<div class="toast-body">
					{{error.text}}
				</div>
			</div>
		</div>
	</div>
  </div>
</template>
<script>

	import Vue from "vue";
	import global from "~/mixins/global.js";

	Vue.mixin(global);
	export default {
		data() {
			return {
			}
		},
		beforeMount(){
			this.$store.commit('errors/removeAllErrors');
		},
		mounted(){
		},
		computed: {
		},
		methods: {
		}
	}

</script>
<style>
	.content {
		/* position: relative; */
		/* float: left; */
		/* width: calc(100% - 300px); */
		/* transition: width .4s; */
	}
	/* .version{
        position: fixed;
        bottom: 10px;
        left: 15px;
        color: rgba(255,255,255,0.3);
        z-index: 9;
    } */
</style>