<script lang="ts" setup>
import ListField from '@/components/fields/ListField.vue'
import AppModal from '@/components/modal/AppModal.vue'
import { FundsTypeEnum } from '@/src/enums/fundsType'
import { ReturnLabelTypeEnum } from '@/src/enums/returnLabelType'
import { APIRouteEnum } from '@/src/enums/route'
import { Return } from '@/src/models/Return'
import { apiClient } from '@/src/modules/ApiClient'
import { useOrderStore } from '@/src/stores/useOrderStore'
import { useRefundStore } from '@/src/stores/useRefundStore'
import OrderReturnItems from '@/src/types/attributes/orderReturnItems'
import { OptionItem } from '@/src/types/optionItem'
import { isReturnProcessingRadioBlockFields } from '@/src/utils/merchant'
import { PropType } from 'vue'
import { useI18n } from 'vue-i18n'

/**
 * Props.
 */
defineProps({
  returnsData: {
    type: Array as PropType<Return[]>,
    required: true
  },
  orderReturnItems: {
    type: Array as PropType<OrderReturnItems[]>,
    required: true
  },
  loading: {
    type: Boolean as PropType<boolean>,
    required: true
  }
})

/**
 * Reactive data.
 */
const formDataErrors = reactive<string[]>([])

/**
 * Imports.
 */
const runtimeConfig = useRuntimeConfig()
const { t } = useI18n({ useScope: 'global' })
const orderStore = useOrderStore()
const refundStore = useRefundStore()

/**
 * Refs.
 */
const showModal = ref(false)
const returnLabelLink = ref('')
const returnLabelType = ref(runtimeConfig.public.APP_RETURN_LABEL_GENERATE_DEFAULT_TYPE as string)

/**
 * Methods.
 */
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const listFieldOptions = (orderId: number, returnLineId: number): OptionItem[] => [
  {
    label: t('components.appButton.download') + ' PDF',
    value: '#',
    type: 'link',
    onClick: () => {
      returnLabelType.value = ReturnLabelTypeEnum.pdf
      handleShowModal(orderId, returnLineId)
    }
  },
  {
    label: t('components.appButton.download') + ' QR Code',
    value: '#',
    type: 'link',
    onClick: () => {
      returnLabelType.value = ReturnLabelTypeEnum.qr
      handleShowModal(orderId, returnLineId)
    }
  }
]
const handleShowModal = async (orderId: number, returnId: number) => {
  showModal.value = true
  formDataErrors.length = 0

  try {
    await apiClient().fetchReturnGenerateLabel(orderId, returnId, returnLabelType.value)
  } catch (error: any) {
    const errorsParsed = JSON.parse(error.message)

    for (const key in errorsParsed) {
      formDataErrors.push(errorsParsed[key][0].message as string)
    }

    return
  }

  returnLabelLink.value =
    runtimeConfig.public.API_BASE_URL +
    `${APIRouteEnum.fetchReturnGenerateLabel}?order-id=${orderId}&return-id=${returnId}&label-type=${returnLabelType.value}`
}
const handleCloseModal = () => {
  showModal.value = false
  returnLabelLink.value = ''
}

const parseFundsType = (fundsType: string) => {
  switch (fundsType) {
    case FundsTypeEnum.refund:
      return t('pages.order.return.processing.components.radioBlockField.refund.title')
    case FundsTypeEnum.giftCard:
      return t('pages.order.return.processing.components.radioBlockField.giftCard.title')
    default:
      return 'Unknown'
  }
}
const printLabel = (labelType: ReturnLabelTypeEnum) => {
  if (labelType === ReturnLabelTypeEnum.qr) {
    const url = returnLabelLink.value
    const name = '_blank'
    const props = ['fullscreen=yes', 'titlebar=yes', 'scrollbars=yes']

    const windowRef = window.open(url, name, props.join(','))
    if (!windowRef) {
      return
    }
    if (!windowRef.opener) {
      windowRef.opener = self
    }
    windowRef.focus()

    const printWindow = windowRef
    printWindow.document.write(`
        <html lang="en">
          <head>
            <title>${window.document.title}</title>
          </head>
          <body>
            <img style="position:absolute;margin:auto;top:0;left:0;right:0;bottom:0;" width="200" alt="QR code" src="${url}" />
          </body>
        </html>
      `)

    printWindow.document.close()
    printWindow.focus()

    printWindow.onafterprint = function () {
      handleCloseModal()
      printWindow.close()
    }

    printWindow.print()
  }
}
</script>

<template>
  <div class="relative w-full overflow-x-auto">
    <table class="table-auto w-full">
      <thead class="text-center capitalize">
        <tr>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.date') }}</th>
          <th class="px-8 text-left">
            {{ $t('pages.order.return.detailed.returnTable.header.productTitle') }}
          </th>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productQuantity') }}</th>
          <th>{{ $t('pages.order.return.detailed.returnTable.header.productReason') }}</th>
          <th v-if="isReturnProcessingRadioBlockFields">
            {{ $t('pages.order.return.detailed.returnTable.header.productReturnType') }}
          </th>
          <th class="px-8 text-left">
            {{ $t('pages.order.return.detailed.returnTable.header.productComment') }}
          </th>
          <th>
            {{ $t('components.appButton.download') }}
          </th>
        </tr>
      </thead>
      <tbody v-for="returnItem in returnsData" :key="returnItem.id">
        <tr v-for="returnLineItem in returnItem.returnLines" :key="returnLineItem.id">
          <td class="text-center">
            <p>
              {{ new Date(returnItem.createDate).toLocaleTimeString() }}
              {{ new Date(returnItem.createDate).toLocaleDateString() }}
            </p>
          </td>
          <td>
            <p>{{ orderStore.findOrderLineById(returnLineItem.orderLineId).description }}</p>
            <p>
              Size: {{ orderStore.findOrderLineById(returnLineItem.orderLineId).size }} | Color:
              {{ orderStore.findOrderLineById(returnLineItem.orderLineId).color }}
            </p>
          </td>
          <td class="text-center">
            <p>{{ returnLineItem.quantity }}</p>
          </td>
          <td class="text-center">
            <p>{{ refundStore.findRefundReasonById(returnLineItem.refundReasonId)?.name }}</p>
          </td>
          <td v-if="isReturnProcessingRadioBlockFields" class="text-center">
            <p>{{ parseFundsType(returnItem.fundsType) }}</p>
          </td>
          <td>
            <p>{{ returnLineItem.comment }}</p>
          </td>
          <td class="text-center">
            <!--            TODO: Custom selector for different return label types -->
            <!--            <ListField :options="listFieldOptions(returnItem.orderId, returnItem.id)" />-->
            <a
              v-if="returnItem.labelType !== '' && returnItem.labelType !== null"
              class="text-blue-500 underline cursor-pointer capitalize"
              @click="handleShowModal(returnItem.orderId, returnItem.id)"
            >
              {{
                $t(
                  'pages.order.return.processed.components.appButton.downloadReturn.' +
                    returnItem.labelType
                )
              }}
            </a>
            <a
              v-else
              class="text-blue-500 underline cursor-pointer capitalize"
              @click="handleShowModal(returnItem.orderId, returnItem.id)"
            >
              {{
                $t(
                  'pages.order.return.processed.components.appButton.downloadReturn.' +
                    returnLabelType
                )
              }}
            </a>
          </td>
        </tr>
        <br />
      </tbody>
    </table>

    <AppModal
      v-show="showModal"
      :additional-classes="[
        returnLabelType === ReturnLabelTypeEnum.pdf ? 'w-[90%] h-[90%]' : '',
        returnLabelType === ReturnLabelTypeEnum.qr ? 'sm:w-[80%] md:w-[45%] lg:w-[20%]' : ''
      ]"
      :loading="returnLabelLink === '' && formDataErrors.length === 0"
      @close-modal="handleCloseModal"
    >
      <template #header>
        <h2 class="text-xl font-bold uppercase">
          {{ $t('pages.order.return.detailed.components.AppModal.header.' + returnLabelType) }}
        </h2>
      </template>
      <template #content>
        <div v-if="formDataErrors.length > 0" class="relative text-red-500">
          <p v-for="error in formDataErrors" :key="error">{{ error }}</p>
        </div>

        <div v-else-if="returnLabelType === ReturnLabelTypeEnum.pdf" class="w-[100%] h-[100%]">
          <iframe
            ref="iframe"
            class="iframe flex-1 w-full h-full border-[none]"
            :src="returnLabelLink"
          ></iframe>
        </div>
        <div v-else-if="returnLabelType === ReturnLabelTypeEnum.qr">
          <img
            class="w-[100%] h-[100%] cursor-pointer"
            alt="QR code"
            :src="returnLabelLink"
            @click="printLabel(ReturnLabelTypeEnum.qr)"
          />
        </div>
      </template>
    </AppModal>
  </div>
</template>

<style scoped>
td {
  @apply border-b border-t border-gray-300 px-8 py-4;
}
</style>
