<script lang="ts" setup></script>

<template>
    <NuxtLayout>
        <NuxtLoadingIndicator/>
        <NuxtPage/>
    </NuxtLayout>
</template>

<style>
/* TODO: Add global styles after production build */
/* @import './public/css/build.css'; */
</style>
