<script setup>
const error = useError();

if (error.value.statusCode === 404 || '404') { // eslint-disable-line no-constant-condition
  error.value.message = 'Oops! Page not found 😔';
}
if (error.value.statusCode === 500 || '500') { // eslint-disable-line no-constant-condition
  error.value.message = 'Oops! Something went wrong 😔';
}
</script>

<template>
  <div id="main">
    <div class="error">
      <h1>Error {{ error.statusCode }}</h1>
      <p>{{ error.message }}</p>
    </div>
  </div>
</template>

<style scoped>
* {
  @apply transition-all duration-[0.6s];
}
html {
  @apply h-full;
}
body {
  @apply text-[#888] m-0;
  font-family: "Lato", sans-serif;
}
#main {
  @apply table w-full h-screen text-center;
}
.error {
  @apply table-cell align-middle;
}
.error h1 {
  @apply text-[50px] inline-block animate-[type_0.5s_alternate_infinite] pr-3;
}
@keyframes type {
  from {
    @apply shadow-[inset_-3px_0px_0px_#888];
  }
  to {
    @apply shadow-[inset_-3px_0px_0px_transparent];
  }
}
</style>
