<div>
	<div style="text-align: center;">
		{if isset($message)}
			<h2>{$message}</h2>
		{else}
			<h2>There are no active records!</h2>
		{/if}
	</div>
	<div style="height:100%">
	</div>             
</div>

