<script lang="ts" setup>
import ChevronDownIcon from '@/components/icons/ChevronDownIcon.vue'
import { initFlowbite } from 'flowbite'
import { useI18n } from 'vue-i18n'

defineProps({
  additionalClasses: {
    type: String,
    default: ''
  }
})

const i18n = useI18n()
const updateLocale = (locale: string) => {
  i18n.locale = locale
  document.cookie = `i18n_locale=${locale} ; max-age=31536000 ; path=/ ; secure ; samesite=Lax`
  window.location.reload()
}

onMounted(() => {
  initFlowbite()
})
</script>

<template>
  <div class="flex" :class="additionalClasses">
    <button
      id="states-button"
      data-dropdown-toggle="dropdown-states"
      class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100"
      type="button"
    >
      <flag :squared="false" :iso="$t('isoCountryCode')" />
      <ChevronDownIcon class="w-4 h-4 ml-2 -mr-1 text-gray-400" />
    </button>
    <div
      id="dropdown-states"
      class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow"
    >
      <ul class="py-2 text-sm" aria-labelledby="states-button">
        <li v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`">
          <button
            type="button"
            class="inline-flex px-4 py-2 text-sm hover:bg-gray-100"
            :class="locale === $i18n.locale ? 'bg-gray-100' : ''"
            :disabled="locale === $i18n.locale"
            @click.prevent.stop="updateLocale(locale)"
          >
            <flag :squared="false" :iso="$t('isoCountryCode', locale, { locale })" />
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped></style>
