<script lang="ts" setup>
import { ButtonTypeEnum } from '@/src/enums/buttonType'
import type { PropType } from 'vue'
import { computed } from 'vue'

/**
 * Props.
 */
const props = defineProps({
  buttonType: {
    type: String as PropType<ButtonTypeEnum>,
    default: () => ButtonTypeEnum.default
  },
  additionalClasses: {
    type: String,
    default: 'h-14 w-[300px] focus:outline-none bg-black text-white hover:bg-blue-500'
  },
  loading: {
    type: Boolean,
    default: false
  },
  block: {
    type: Boolean,
    default: false
  },
  disabled: {
    type: Boolean,
    default: false
  },
  iframeLink: {
    type: String,
    default: ''
  }
})

/**
 * Refs.
 */
const showModal = ref(false)

/**
 * Computed.
 */
const classes = computed(() => {
  const classes: string[] = [`app-button--${props.buttonType}`]

  if (props.block) {
    classes.push('app-button--block')
  }
  if (props.block) {
    classes.push('app-button--compact')
  }

  classes.push(props.additionalClasses)

  return classes
})

/**
 * Methods.
 */
const openModal = () => {
  showModal.value = true
}
const closeModal = () => {
  showModal.value = false
}
</script>

<template>
  <div>
    <button
      class="app-button transform cursor-pointer items-center rounded text-center transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105"
      :class="[
        classes,
        loading ? 'app-button--loading cursor-wait' : '',
        disabled ? 'app-button--disabled' : ''
      ]"
      :disabled="loading || disabled"
      :type="buttonType"
      @click="openModal"
    >
      <slot />
    </button>
    <div
      v-if="showModal"
      class="modal block fixed z-[1] w-full h-full overflow-auto bg-[rgba(0,0,0,0.4)] left-0 top-0"
    >
      <div
        class="modal-content bg-[#fefefe] border w-[90%] h-[90%] flex flex-col mx-auto my-[2%] p-5 border-solid border-[#888]"
      >
        <span
          class="close text-[#aaa] text-[35px] font-[bold] cursor-pointer self-end"
          @click="closeModal"
        >
          &times;
        </span>
        <iframe ref="iframe" :src="iframeLink" class="iframe"></iframe>
      </div>
    </div>
  </div>
</template>

<style scoped>
.app-button--disabled {
  @apply cursor-not-allowed bg-gray-800 opacity-50;
}
.close:hover,
.close:focus {
  @apply rotate-90 cursor-pointer text-[black] no-underline transition-transform duration-[0.5s] ease-[ease-in-out];
}
iframe {
  @apply h-full w-full flex-1 border-[none];
}
</style>
