<script lang="ts" setup>
import EydaLogoDefault from '@/assets/svg/eydaLogoDefault.svg'
import EydaLogoSmall from '@/assets/svg/eydaLogoSmall.svg'

const runtimeConfig = useRuntimeConfig()

defineProps({
  type: {
    type: String,
    default: () => 'default'
  }
})

const merchant = computed<string>(() => {
  return runtimeConfig.public.APP_MERCHANT
})
</script>

<template>
  <div class="relative">
    <div v-if="merchant === 'eyda'" class="flex">
      <EydaLogoDefault v-if="type === 'default'" class="h-[78px] w-[292px]" />
      <EydaLogoSmall v-if="type === 'small'" class="h-[39px] w-[146px]" />
    </div>
    <div v-if="merchant === 'passon'" class="flex">
      <img
        v-if="type === 'default'"
        class="powered-by--logo"
        alt="Powered by PassON"
        width="292"
        height="78"
        src="https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/b396722da4805c930bc99097a7e12d0dd011ee68.webp"
      />
      <img
        v-if="type === 'small'"
        class="powered-by--logo"
        alt="Powered by PassON"
        width="146"
        height="39"
        src="https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/b396722da4805c930bc99097a7e12d0dd011ee68.webp"
      />
    </div>
  </div>
</template>

<style scoped></style>
