<script lang="ts" setup></script>

<template>
  <div class="powered-by flex items-center justify-end p-6">
    <p class="powered-by--text">Powered by</p>
    <img
      class="powered-by--logo w-[5.375rem] h-[2.875rem]"
      alt="Powered by PassON"
      width="86"
      height="46"
      src="https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/b396722da4805c930bc99097a7e12d0dd011ee68.webp"
    />
  </div>
</template>

<style scoped></style>
