<template>
	<div class="container">
		<img class="login-image" src="../static/img/loginmain.jpg" alt="">
		<div v-if="!displayCode">
			<div class="loginScreen">
				<ValidationObserver v-slot="{ invalid }">
					<ValidationProvider
						v-slot="{ errors }"
						name="loginname"
						rules="required">
						<b-form-group id="loginname-group" 
									label="Loginname" 
									label-for="loginname-input">

							<b-form-input
								id="loginname-input"
								v-model="loginname"
								required
								placeholder="Loginname"
							/>
							<span class="input-invalid-message">
								{{ errors[0] }}
							</span>
						</b-form-group>
					</ValidationProvider>
					<ValidationProvider
						v-slot="{ errors }"
						name="password"
						rules="required">
						<b-form-group id="password-group" 
									label="Password:" 
									label-for="password-input">

							<b-form-input  v-if="!showPassword"
								v-on:keyup.enter="login()"
								id="password"
								type="password"
								v-model="password"
								required
								placeholder="Udfyld password"
							/>
							<b-form-input  v-if="showPassword"
								v-on:keyup.enter="login()"
								id="password"
								type="text"
								v-model="password"
								required
								placeholder="Udfyld password"
							/>
							<button @click="togglePassword" class="eye">
								<i v-if="!showPassword" class="fa-solid fa-eye"></i>
								<i v-if="showPassword" class="fa-solid fa-eye-slash"></i>
							</button>
							<span class="input-invalid-message">
								{{ errors[0] }}
							</span>
						</b-form-group>
					</ValidationProvider>
					<div class="button" v-if="!invalid" @click="login()">Login</div>
					<div class="button" @click="showError()" disabled v-if="invalid">Login</div>
				</ValidationObserver>
			</div>
		</div>
		<div v-if="displayCode">
			<div class="loginScreen">
					<ValidationProvider
						name="code"
						rules="required">
						<b-form-group id="code-group" 
									label="Enter the code" 
									label-for="code-input">

							<b-form-input
								v-on:keyup.enter="submitCode()"
								id="code-input"
								v-model="code"
								required
								placeholder="code"
							/>
						</b-form-group>
					</ValidationProvider>
					<div class="button" @click="submitCode()">Enter</div>
			</div>
		</div>
		<div class="recover-link-container">
			<NuxtLink class="recover-link" to="/recover">Forgot your password?</NuxtLink>
		</div>
		<img class="passon-image" src="../static/img/passonlogo.png" alt="">
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
	layout: 'default',
	components: {
    	ValidationObserver: ValidationObserver,
    	ValidationProvider: ValidationProvider
  	},
	data() {
		return {
			loginname: '',
			password: '',
			displayCode: false,
			showPassword: false,
			code: ''
		}
	},
	beforeMount() {
		var self = this;
		self.$store.commit("loader/Start");
		self.checkCookie();
	},
	mounted() {
	},
	methods: {
		togglePassword() {
			var self = this;
			self.showPassword = !self.showPassword;
		},
		getCookie(cname) {
			let name = cname + "=";
			let decodedCookie = decodeURIComponent(document.cookie);
			let ca = decodedCookie.split(';');
			for(let i = 0; i <ca.length; i++) {
				let c = ca[i];
				while (c.charAt(0) == ' ') {
				c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
				}
			}
			return "";
		},
		checkCookie() {
			var self = this;
			var cookie = self.getCookie("UID1");

			if(cookie !== "") {
				self.postData("/user/check/cookie", {"cookie": cookie }, self.checkCookieResponse);
				return
			}
			self.$store.commit("loader/Stop");
		},
		checkCookieResponse(response, error) {
			var self = this;
			if(error) {
				self.$store.commit("loader/Stop");
				return;
			}
			window.location.href = "https://eyda.passon.dk/eyda/index.php";
			self.$store.commit("loader/Stop");
		},
		showError(){
			let self = this;
			self.addErrorsToList('Both fields are required to log in.', 'bg-warning');
		},
		login(){
			var self = this;
			self.$store.commit("loader/Start");
			var data = {loginname: self.loginname, password: self.password};
			self.postData("/user/login", data, self.loginResponse);
		},
		loginResponse(response, error) {
			var self = this;

			if(error) {
				self.addErrorsToList('Login attempt failed, please try again.', 'bg-warning');
				self.$store.commit("loader/Stop");
				return;
			}
			if(response.isTwoFactor) {
				self.displayCode = true;
				self.$store.commit("loader/Stop");
				return;
			}
			self.setCookie(response.uid);
		},
		submitCode(){
			var self = this;
			self.$store.commit("loader/Start");
			var data = {"code": self.code, "loginname": self.loginname};
			self.postData("/user/verify/code", data, self.submitCodeResponse);
		},
		submitCodeResponse(response, error) {
			var self = this;

			if(error) {
				self.$store.commit("loader/Stop");
				self.addErrorsToList('Login attempt failed, please try again.', 'bg-warning');
				return;
			}
			self.setCookie(response);
		},
		setCookie(uid) {
			var self = this;
			var exdays = 2;
			const d = new Date();
			d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
			let expires = "expires="+d.toUTCString();
			document.cookie = "UID1" + "=" + uid +  ";"  + "path=/; max-age=0;";
			document.cookie = "UID1" + "=" + uid + ";" + expires + ";"  + "path=/";

			window.location.href = "https://eyda.passon.dk/eyda/index.php";
		}
	}
}
</script>
<style scoped >
	.button {
		margin: 0px;
	}
	.login-image {
		margin: auto;
		/*width: 100%;*/
		width: 60%;
	    margin: 30px auto auto;
	    margin: auto;
	    float: none;
	    display: block;
	}
	.passon-image {
		height: 80px;
		margin-top: 75px;
		float: right;
	}
	#password {
		float: left;
		width: 90%;
	}
	.eye {
		width: 10%;
		height: calc(1.5em + 0.75rem + 2px);
		background-color: #032447;
	}
	.fa-eye {
		color: white;
	}
	.fa-eye-slash {
		color: white;
	}
	.form-group {
		margin-bottom: 0px !important;
	}
	.recover-link-container {
		margin: auto;
		margin-top: 15px;
		max-width: 500px;
	}
</style>
