.filter-left {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
    width: 15%;
}

.panel-right {
	display: inline;
	float: right;
    width: 80%;
}

.inner {
    float: left;  
    margin-right: 10px; 
}
.inner span.label {
	float: left;
	width : 200px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.inner-item {
	display: inline;
	float: left; 
	width: 165px; 
	margin: 20px 25px;
	height: 240px;
	cursor: pointer;
}

.inner-item.in-cart {
	background-color: #C2C2C2 ; // #AFEBB7;
}

.inner-item.sold-out {
//	background-color: #F06464;
}

.type-title {
	background: none repeat scroll 0 0 #EBEAEA;
    border-bottom: 1px solid #8C8C8C;
    font-weight: bold;
    padding: 10px 15px 10px 5px;
    text-align: left;
    margin-top: 10px;
}

.item-img {
	background: none repeat scroll 0 0 #C2C2C2;
    height:165px;
    width: 165px;
}

.inner-item div.label {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
.inner-item div.soldout {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
	color: #F06464;
}

.inner-item .item-price {
    margin: 5px 0;
}

.item-price .price {
   	color: #B51A27;
    display: inline;
    font-family: Calibri;
    font-size: 12px;
    margin-right: 10px;
}

.item-panel {
	display: inline;
	margin: 30px;
}

