body, div, ul, li {
    margin: 0;
    padding: 0;
}

.top-bar-wrapper, .bottom-bar-wrapper {
    margin: 0 300px 0 0;
}

.top-bar-wrapper ul, .top-bar-wrapper li {
    display: inline-block;
    list-style: none outside none;
}

.bottom-bar-wrapper ul, .bottom-bar-wrapper li {
    display: inline-block;
    list-style: none outside none;
}

.top-bar-wrapper ul {
    border-right: 1px solid black;
}

.top-bar-wrapper li {
	background-color: #565656;
    border-left: 1px solid black;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
}

.top-bar-wrapper li.selected {
    background-color: #373737;
}

.bottom-bar-wrapper li.selected {
    background-color: #f2f2f2;
}

.bottom-bar-wrapper li {
	background-color: #cccccc;
    border-left: 1px solid #8c8c8c;
    padding: 0 5px 0 5px;
    cursor: pointer;
    line-height: 25px;
    height: 25px;
}

.bottom-bar-wrapper img, .top-bar-wrapper img {
	vertical-align: middle;
	margin-right: 3px;
}

.top-bar-wrapper a {
    line-height: 40px;
    color: white !important;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
}

.bottom-bar-wrapper a {
    line-height: 25px;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}