<template lang="html">
  <div class="loading-page" v-if="loading">
    <div class="loader"></div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      // loading: true
    }),
    computed: {
      loading() {
        return this.$store.state.loader.active;
      }
    },
    methods: {
    }
  }
</script>

<style scoped>
  .loading-page {
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 200px;
    font-size: 30px;
    font-family: sans-serif;
  }
  .loader {
    border: 8px solid #d2cfcf;
    border-radius: 50%;
    border-top: 8px solid #032447;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: block;
    /*margin: auto;*/
    position: absolute;
    top:  50%;
    left:  50%;
    margin-top: -30px;
    margin-left: -30px;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>