<template>
	<div >
		<div v-if="displayCode" class="container">
			<div class="loginScreen">
					<ValidationProvider
						name="code"
						rules="required">
						<b-form-group id="code-group" 
									label="Enter the code" 
									label-for="code-input">

							<b-form-input
								v-on:keyup.enter="submitCode()"
								id="code-input"
								v-model="code"
								required
								placeholder="code"
							/>
						</b-form-group>
					</ValidationProvider>
					<div class="button" @click="submitCode()">Enter</div>
			</div>
		</div>	
		<div v-if="showQR" class="container">
			<p>Scan QR code</p>
			<img class="qr-image" v-bind:src="qr"/> 
			<br>
			<br>
			<p id="qr-code">{{code}}</p>
			<div class="buttons-wrapper">
				<div class="button" @click="copyTextToClipboard(link, 'Link')">Copy link</div>
				<div style="margin: 0;"  @click="copyTextToClipboard(code, 'Code')" class="button">Copy code</div>
			</div>
		</div>
		<div v-if="linkExpired" class="container">
			<p class="expired-msg">Link is no longer valid</p>
		</div>
  	</div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
	layout: 'default',
	components: {
    	ValidationObserver: ValidationObserver,
    	ValidationProvider: ValidationProvider
  	},
	data() {
		return {
			qr : "",
			code: "",
			displayCode: false,
			showQR: false,
			linkExpired: false,
			// token: "",
			link: window.location.href,
		}
	},
	mounted() {
	},
	beforeMount() {
		var self = this;
		self.$store.commit("loader/Start");
		// self.token = self.$route.params.token;
		self.getQR(self.$route.params.token);
	},
	methods: {
		submitCode(){
			var self = this
			self.$store.commit("loader/Start");
			var data = {"code": self.code, "token": self.token}
			self.postData("/user/verify/reset", data, self.submitCodeResponse)
		},
		submitCodeResponse(response, error) {
			var self = this;

			if(error) {
				self.$store.commit("loader/Stop");
				self.addErrorsToList('Login attempt failed, please try again.', 'bg-warning')
				return
			}
			self.displayCode = false;
			self.showQR = true;
			self.getQR(self.$route.params.token);
		},
		getQR(token){
			var self = this;
			self.token = token;
			self.getData("/user/reset/" + token, self.getQRResponse);
		},
		getQRResponse(response, error) {
			var self = this;
			if(error) {
				self.$store.commit("loader/Stop");
				self.displayCode = false;
				self.showQR = false;
				self.linkExpired = true;
				return;
			}
			if(response.hasOwnProperty('codeVerification')) {
				self.displayCode = true;
				self.showQR = false;
				self.$store.commit("loader/Stop");
				return;
			}

			self.qr = response.qr;
			self.code = response.code;
			self.showQR = true;
			self.$store.commit("loader/Stop");
		},
		fallbackCopyTextToClipboard(text) {
			var textArea = document.createElement("textarea");
			textArea.value = text;
			
			// Avoid scrolling to bottom
			textArea.style.top = "0";
			textArea.style.left = "0";
			textArea.style.position = "fixed";

			document.body.appendChild(textArea);
			textArea.focus();
			textArea.select();

			try {
				var successful = document.execCommand('copy');
				var msg = successful ? 'successful' : 'unsuccessful';
				console.log('Fallback: Copying text command was ' + msg);
			} catch (err) {
				console.error('Fallback: Oops, unable to copy', err);
			}

			document.body.removeChild(textArea);
		},
		copyTextToClipboard(text, type) {
			var self = this;
			if (!navigator.clipboard) {
				self.fallbackCopyTextToClipboard(text);
				self.addErrorsToList(type + " copied", "bg-success");
				return;
			}
			navigator.clipboard.writeText(text).then(function() {
				self.addErrorsToList(type + " copied", "bg-success");
				console.log('Async: Copying to clipboard was successful!');
			}, function(err) {
				console.error('Async: Could not copy text: ', err);
			});
		}
	}
}
</script>
<style scoped >
	.container {
		margin-top: 100px;
		text-align: center;
	}
	.container p {
		font-size: 14px;
	}
	.qr-image {
		display: inline-block;
		margin: auto;
	}
	.button {
		width: 100%;
		padding: 15px !important;
	}
	.buttons-wrapper {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}
	.buttons-wrapper .button {
		width: 200px;
	}
	.clipboard {
		visibility: hidden;
	}
	.expired-msg {
		font-size: 36px !important;
	}
</style>
