@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');
@import url('//cloud.typography.com/6247692/752844/css/fonts.css');
// @import url('/src/styles/fontawesome.min.css');





/* Variables */ 
$font1: "Gotham SSm A", "Gotham SSm B", Verdana, sans-serif;
$font2: "Gotham Narrow SSm A", "Gotham Narrow SSm B", Verdana, sans-serif;
$font3: "Gotham A", "Gotham B", Verdana, sans-serif;

$white: #FFFFFF;
$lightgrey: rgba(241,241,241,1);
$grey: rgba(175,178,178,1);
$lightblue: rgba(59,154,196,1);
$black: rgba(74,74,74,1);

$blue: #032447;
$orange: #ffa500;
$green: #00b360;
$grey: #F0F3F4;

@mixin transition($var) {
	transition: $var;
	-webkit-transition: $var;
	-o-transition: $var;
	-moz-transition: $var;
}

*{
  box-sizing: border-box;
}

.variants::-webkit-scrollbar {
    display: none !important;
}
.variants{
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}
#sidebar{
  .fa{
    line-height: 24px;
  }
}

.menu-list{
  .option{
    height: 24px;
  }
}

.text.small a{
  cursor: pointer;
  text-decoration: underline;
}

body {
  // background-color:#f7f7f7 !important;
  background-color: white;
}
.pt-3.pb-3.button{
  margin-right: 0 !important;
}
input.check{
  position: relative;
  top: 2px;
}

input, select, textarea {
  &.error{
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 0 , 0, 0.5) !important;
  }
}
.input-invalid-message{
  color: red;
  font-size: 10px;
}
.no-pad-left{
  padding-left: 0 !important;

}
.pad-top{
  padding-top: 10px;
}
.h-auto{
  max-height: 300px !important;
}
.nice-input{
  // padding: 10px;
  margin-bottom: 15px;
  // font-size: 13px;
}


i{

font-family: 'FontAwesome';
font-style: initial;
  &.solid{
    font-family: 'FontAwesomeSolid';
  }
}
.backButton{
  z-index: 9;
  position: relative;
}

h4{
  font-size: 1rem !important;
  font-weight: 600;
}

.container{
  max-width: 1140px !important;
  width: 100% !important;
}

.dash-header-item {
  .number {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
  .icon-wrapper{
    padding-top: 5px;
  }
  i {
    font-size: 1.5rem;
    color:rgb(180, 180, 180);
  }
  .bar-description {
    font-size: 14px;
    color: rgb(180, 180, 180);
    text-align: center;
  }
  .progress {
    height: 5px;
  }
}

.data p{
  margin: 0;
}

.smallList{
  font-size: 10px;
  position: relative;
  top: -8px;
}

.order-element{
  cursor: initial !important;
}

.windows-wrapper{
  position: relative;
  .scanStr{
    position: absolute;
    top: -85px;
    right: 0;
    color: #a1a0a0;
  }
}

.top-mar{
  margin-top:30px;
}

.page{
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  position: absolute;
  top: -80px;
  text-align: center;
}
.circle{
  border-radius: 100px;
  border: solid 1px;
  font-size: 10px;
  width: 19px;
  height: 19px;
  display: inline-block;
  text-align: center;
  line-height: 17px;
  &.procedure{
    margin: 0 2px;
  }
}
ol{
  &.operations{
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 0;
  }
}

.container.card{
  padding: 0;
  .row{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0;
  }
}
.link{
  text-decoration: underline;
  cursor: pointer;
}

.receivedLine{
  border: solid 2px transparent;
  font-size: 14px;
  td{
    padding-right: 0 !important;
  }
  td:last-child{
    padding-right: 0.75rem !important;
  }
  td:first-child{
    cursor: pointer;
  }
  &.active{
    // background: $lightblue !important;
    // box-shadow: inset 0px -0.5px 6px 0px $lightblue;
    // border: solid 2px $lightblue;
    // box-shadow: inset 0px -0.5px 5px 0px $lightblue;
    box-shadow: inset 0px 0px 0px 2px $lightblue;
  }
}
.table th, .table td{
  vertical-align: middle !important;
}

.order-element{
  &.done{
    opacity: 0.6;
  }
}

table.receive{
  tr.red{
    color: red !important;
    .radio .radio-boxcheck{
      color: red !important;
    }
  }
  tr.done{
    opacity: 0.5;
  }
  td:first-child{
    // padding: 0.75rem 20px 0.75rem 0.75rem;
  }
  td{
    line-height: 25px;
  }
  td.green{
    color: green;
  }
  td.red{
    color: red;
  }
}

.right.window{
  padding-left: 15px;
}

.radio{
  position: relative;       
  float: left;
  overflow: hidden;
  margin-right: 20px;
  font-size: 14px;
  height: 25px;
  input{
    line-height: 25px;
    height: 25px !important;
    width: 45px !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    opacity: 0;
    z-index: 2;
  }
  input:checked ~ .radio-boxcheck{
    background: $blue;
    color: $white;
  }
  .radio-boxcheck{
    height: 25px !important;
    width: 45px !important;
    cursor: pointer;
    position: absolute;
    z-index: 1; 
    background: $white;
    color: $blue;
    top:0;
    left:0;
    line-height: 25px;
    text-align: center;
  }
  &.round{
    input:checked ~ .radio-boxcheck{
      opacity: 1 !important;
      &:after{
        content: '';
        display: block;
        background: white;
        border-radius: 100px;
        width: 18px !important;
        height: 18px !important;
        position: absolute;
        left: 4px;
          top: 4px;
      }
    }
    .radio-boxcheck{
      background: $blue;
      opacity: .5;
      border-radius: 100px;
      width: 26px !important;
        height: 26px !important;
    }
    input{
      height: 26px !important;
      &:hover  ~ .radio-boxcheck{
        opacity: 0.7;
      }
    }
    .text{
      float: left;
        padding-left: 40px;
        position: absolute;
        left: 0;
        line-height: 26px;
        z-index: 1;
    }
  }
}

.blue{
  color: $blue;
  text-transform: underline;
}

.custom-list {
  background-color: rgb(248, 248, 248);

  .title {

  }

  .blue{
    color: $blue;
    text-transform: underline;
  }

  .fat{
    font-weight: 600;
  }

  .table {
    background-color: white;

    thead {
      margin-left: 10px;
    }

    tbody {
      tr:hover {
        // background-color: rgb(255, 254, 197);
        background-color: rgba(0,0,0,.075);
      }
    }
  }
}

.column-item {
  div {
      a {
          i {
            font-size: 20px;
          }
      }
  }
}

.content{
  z-index: 1;
}

.row-highlight {
  // background-color: rgb(255, 254, 197);
  background-color: rgba(0,0,0,.075);
}
.row-lowlight {
  // background-color: rgb(255, 255, 255);

}

.iconContainer{
  text-align: right;
}
textarea{
  width: 100%;
  height: 200px;
}


.content{
  &.fold{
    .modal{
      .modalContainer{
        left: 50%;
      }
    }  
  }
  .modal{
    .modalContainer{
      left: calc(50% + 150px);
    }
  }
}

.modal{
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.7);
  width: 100%;
  height: 100%;
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
      border: 5px solid $lightblue;
      border-radius: 50%;
      border-top: 5px solid $blue;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

.modal{
  background: rgba(0, 0, 0, 0.5);
  background: rgba(225, 225, 225,.9);
  display: block !important;
  .modalSizer{
    position: absolute;
    top: 50px;
    bottom: 50px;
    height: calc(100% - 100px);
    width: 100%;
    // overflow: scroll;
    overscroll-behavior: contain;
  }
  .modalContainer{
    z-index: 1;
    width: 90%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: calc((90% / 2) * -1);
    top: 0;
    display: table;
    .closeModal{
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background: $orange;
      border-radius: 0 0 0 2px;
    }
    .modalInner{
      display: table-cell;
      vertical-align: middle;
      .modalContent{
        margin: auto;
        padding: 20px 0;
        height: auto;
        max-height: 90vh;
        overflow: scroll;
        background: $white;
        position: relative;
        max-width: 650px;
        box-shadow: 0 8px 46px rgba(0, 0, 0, 0.08), 0 2px 6px rgba(0, 0, 0, 0.03);
        .modalBody{
          padding: 20px 20px 0 20px;
          // input, select{
          //   width: 50%;
          // }
        }
        .modalFooter{
          padding: 0 20px;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.loginScreen{
  margin: auto;
  max-width: 500px;
  margin-top: 80px;
}
.order-element{
  .button{
    margin: 0;
    width: 100%;
    min-width: 0px;
  }
}

.button{
  font-size: 11px;
  padding: 10px;
  color: white;
  background-color: $blue;
  border: none;
  text-transform: uppercase;
  text-align: center;
  min-width: 100px;
  cursor: pointer;
  margin: 0 10px 0 0;
  @include transition(transform ease-in-out 200ms);
  &.head{
    margin-left: 10px;
    width: auto !important;
    float: right;
  }
  &:disabled,&.disabled{
    opacity: 0.5;
    &:hover{
      transform: none !important;
    }
  }
  &.slim{
    width: auto;
    min-width: 10px;
    height: 25px;
    padding: 0 5px;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 14px;
  }
  &:hover{
    transform: scale(1.05);
  }
}

.form-control, .custom-select{
  border-radius: 0 !important;
}

.form-group{
  .form-group{
    margin-bottom: 0;
  }
  label{
    font-size: 14px;
    margin: 0;
  }
  .input-invalid-message{
    color: red;
    font-size: 12px;
    display: inline-block;
  }
}

.toast-container{
  width: 350px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: auto;
  z-index: 99999999991;
  .toast{
    opacity: 1;
  }
}

.right{
  float: right;
}

.contentHeader{
  padding: 0px 0 0 0;
  h1{
    font-size: 18px;
    color: $blue;
    display: inline-block;
  }

}

.custom-list{
  font-size: 14px;
  line-height: 14px;
}
.modal-body{
  overflow: hidden;
  .button{
    float: left;
  }
}

.modal-backdrop{
  display: none !important;
}

.modal.fade{
  z-index: -1 !important;
  &.show{
    z-index: 1 !important;
  }
}



.dashboardHeader{
  width: 100%;
  float: left;
  overflow: hidden;
  display: block;
  .headColumn{
    text-align: center;
    float: left;
    width: 14%;
    &.bottomcol{
      display: block;
      // flex-direction: column;
      width: 8%;
      .title{
        flex-grow: 1;
      }
      .columns .col{
        padding: 0 10px;
      }
    }
    .title{
      margin-bottom: 10px;
    }
    .columns{
      display: flex;
      flex-direction: column;
      font-size: 13px;
      p{
        flex-grow: 1;
        font-size: 13px;
        margin: 0;
      }
      .col{
        padding: 0;
        margin: 0;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
      }
    }
    // width: 12.5%;
    // float: left;
    // height: auto;
  }
}
.overflow{
  height: auto;
  width: auto;
  overflow: hidden;
}
.published-header{
  width: 100%;
  overflow: hidden;
  float: left;
  padding: 10px 0;
  background: black;
  margin-bottom: 10px;
  .width98{
    width: 98%;
    margin: auto;
  }
  .ellipsis{
    float: left;
    font-size: 25px;
  }
  .web-logo-img{
    float: right;
    width: 77px;
  }
}
.dashboardContainer{
  background-color: #1b1c1f;
  width: 100%;
  height: 100vh;
  color: white;
  .dashboardHeader{
    border-radius: 10px;
    width: 98%;
    margin: auto;
    float: none;
    background-color: #2a2a2a;
    padding: 15px 10px;
    margin-bottom: 20px;
  }
  .VariantList{
    width: 100%;
    float: left;
    height: calc(100vh - 286px - 15px);
    .variantContainer{
      width: 98%;
      margin: auto;
      height: 100%;
      border-radius: 10px;
      background-color: #2a2a2a;
      padding: 10px 15px;
      .aboveDays{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      .days10Col{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        .days{
          font-size: 25px;
          font-weight: bold;
        }
      }
      .variantColumn{
        height: calc(100% - 34px);
        float: left;
        width: 10%;
        // width: 20%;
        padding: 0 5px 10px 5px;
        .variantTitle{
          padding: 5px;
          background: rgba(255,255,255,0.1);
          font-size: 14px;
          border: solid 1px rgb(255 255 255 / 40%);
          border-bottom: none;
        }
        .variantCont{
          position: relative;
          width: 100%;
          height: auto;
          min-height: 100%;
          overflow: hidden;
        }
        .variants{
          height: calc(100% - 145px);
          overflow: scroll;
          font-size: 14px;
          border: solid 1px rgb(255 255 255 / 40%);
          position: relative;
          .border1, .border2{
            width: 1px;
            background: rgb(255 255 255 / 40%);
            height: auto;
            top: 0;
            bottom: 0;
            left: 70%;
            position: absolute;
          }
          .border2{
            left: 85%;
          }
        }
        .totals{
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          padding: 10px;
        }
        .variant{
          width: 100%;
          float: left;
          height: auto;
          font-size: 12px;
          position: relative;
          cursor: pointer;
          color: rgb(113, 179, 124);
          &:hover{
            .hiddenName{
              display: block;
            }
          }
          &.yellow{
            color: rgb(239, 209, 64) !important;
          }
          &.red{
            color: rgb(225, 77, 87) !important;
          }
          &.grey{
            color: #06b9f1;
          }
          .gtin{
            width: 70%;
            padding: 5px 0 0 5px;
            float: left;
          }
          .atposition, .inwarehouse{
            width: 15%;
            padding: 5px 0;
            float: left;
            text-align: center;
          }
          .inwarehouse{
            border: none;
          }

          .hiddenName{
            display: none;
            position: absolute;
            top: 5px;
            left: 0;
            width: 100%;
            background: red;
            padding-left: 5px;
            background-color: #2a2a2a;
            z-index: 1;
          }
        }
      }
    }
  }
}

.insideDash{
  h2{
    font-size: 16px;
  }
}



// .modal-orderlines{
//   position: fixed;
//   z-index: 99999999;
//   left: 0;
//   top: 0;
//   background: rgba(255,255,255,0.7);
//   width: 100%;
//   height: 100%;
//   .loader {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-top: -15px;
//     margin-left: -15px;
//       border: 5px solid $lightblue;
//       border-radius: 50%;
//       border-top: 5px solid $blue;
//     width: 30px;
//     height: 30px;
//     -webkit-animation: spin 2s linear infinite; /* Safari */
//     animation: spin 2s linear infinite;
//   }
// }

// .modal-orderlines{
//   background: rgba(0, 0, 0, 0.5);
//   background: rgba(225, 225, 225,.9);
//   display: block !important;
//  }

@media only screen and (max-width: 1000px){
  body{
    background: red;
  }
  
}
