<script lang="ts" setup>
import type { PropType } from 'vue'
import { computed } from 'vue'

const props = defineProps({
  headers: {
    type: Array as PropType<
      {
        label: string
        value: string
      }[]
    >,
    default: () => []
  },
  data: {
    type: Array as PropType<Record<string, any>[]>,
    default: () => []
  }
})

const activeColumns = ref(props.headers)
const columns = computed(() =>
  props.headers.filter((column) => activeColumns.value.includes(column))
)

const rows = computed(() => {
  return [...props.data]
})
</script>

<template>
  <div>
    <table>
      <thead v-if="columns.length > 0">
        <tr>
          <th
            v-for="column in columns"
            :key="column"
            class="tracking-minimal cursor-pointer bg-gray-50 px-8 py-4 font-bold text-gray-500 first:rounded-tl-md last:rounded-tr-md"
          >
            {{ column.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in rows" :key="row">
          <td
            v-for="column in columns"
            :key="column.value"
            class="border-b border-t border-gray-300 px-8 py-4"
          >
            <slot :name="`td:${column.value}`" :item="row[column.value]" :row="row">
              {{ row[column.value] }}
            </slot>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped></style>
