<template>
<div>
	<div v-if="displayCode" class="container">
		<p>Scan QR code</p>
		<img class="qr-image" v-bind:src="qr"/> 
		<br>
		<br>
		<p id="qr-code">{{code}}</p>
		<div class="buttons-wrapper">
			<div class="button" @click="copyTextToClipboard(link, 'Link')">Copy link</div>
			<div style="margin: 0;"  @click="copyTextToClipboard(code, 'Code')" class="button">Copy code</div>
		</div>
  	</div>
	<div v-if="linkExpired" class="container">
		<p class="expired-msg">Link is not valid anymore</p>
  	</div>
</div>
</template>

<script>
export default {
	layout: 'default',
	data() {
		return {
			qr : "",
			code: "",
			displayCode: true,
			linkExpired: false,
			link: window.location.href
		}
	},
	mounted() {
	},
	beforeMount() {
		var self = this;
		self.$store.commit("loader/Start");
		var token = this.$route.params.token;
		self.getQR(token);
	},
	methods: {
		getQR(token){
			var self = this;
			self.getData("/user/create/" + token, self.getQRResponse);
		},
		getQRResponse(response, error) {
			var self = this;
			if(error) {
				self.$store.commit("loader/Stop");
				self.displayCode = false;
				self.linkExpired = true;
				return;
			}
			self.qr = response.qr;
			self.code = response.code;
			self.$store.commit("loader/Stop");

		},
		submitCodeResponse(response, error) {
			var self = this;

			self.$store.commit("loader/Stop");
			if(error) {
				self.addErrorsToList('Login attempt failed, please try again.', 'bg-warning');
				return;
			}
		},
		fallbackCopyTextToClipboard(text) {
			var textArea = document.createElement("textarea");
			textArea.value = text;
			
			// Avoid scrolling to bottom
			textArea.style.top = "0";
			textArea.style.left = "0";
			textArea.style.position = "fixed";

			document.body.appendChild(textArea);
			textArea.focus();
			textArea.select();

			try {
				var successful = document.execCommand('copy');
				var msg = successful ? 'successful' : 'unsuccessful';
				console.log('Fallback: Copying text command was ' + msg);
			} catch (err) {
				console.error('Fallback: Oops, unable to copy', err);
			}

			document.body.removeChild(textArea);
		},
		copyTextToClipboard(text, type) {
			var self = this;
			if (!navigator.clipboard) {
				self.fallbackCopyTextToClipboard(text);
				self.addErrorsToList(type + " copied", "bg-success");
				return;	
			}
			navigator.clipboard.writeText(text).then(function() {
				self.addErrorsToList(type  + " copied", "bg-success");
				console.log('Async: Copying to clipboard was successful!');
			}, function(err) {
				console.error('Async: Could not copy text: ', err);
			});
		}
	}
}
</script>
<style scoped >
	.container {
		margin-top: 100px;
		text-align: center;
	}
	.container p {
		font-size: 14px;
	}
	.qr-image {
		display: inline-block;
		margin: auto;
	}
	.button {
		width: 200px;
		padding: 15px !important;
	}
	.buttons-wrapper {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}
	.clipboard {
		visibility: hidden;
	}
	.expired-msg {
		font-size: 36px !important;
	}
</style>
