@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-display: swap;
        src: local('Inter'), url('../../../fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
    }
}

/**
 * Layout: Default
 */
.layout-default {
    @apply bg-[rgba(241,241,241,1)];
}
.container {
    @apply mx-auto p-6 text-black;
}
h1 {
    @apply text-[40px] leading-[normal];
    font-family: 'Inter', serif;
}
h2,
div,
h3,
h4,
h5,
h6,
span,
p,
a,
button,
input,
textarea,
select,
label {
    @apply leading-[normal];
    font-family: 'Inter', serif;
}
textarea {
    @apply text-center;
}

/**
 * Page: Order -> Return -> index
 */
.order-return-index {
    .page-header {
        @apply container flex flex-wrap-reverse items-center justify-around;

        .content {
            @apply relative flex items-start pl-9 md:pt-12 lg:pt-0;

            h1 {
                @apply h-24 w-96 pt-8 md:pt-3;
            }
            p {
                @apply pt-10 text-xl;
            }
        }
        .logo {
            @apply relative;
        }
    }
    form {
        @apply flex flex-col items-center gap-5 text-center md:pt-12;

        input {
            @apply h-14 w-[300px];
        }
    }
}
/**
 * Page: Order -> Return -> detailed
 */
.order-return-detailed {
    .page-header {
        @apply py-10 text-[40px] leading-[normal];
    }
}
/**
 * Page: Order -> Return -> processing
 */
.order-return-processing {
    .page-header {
        @apply py-10 text-[40px] leading-[normal];
    }
}

/**
 * Component: AppButton
 */
.app-button {
    @apply transform cursor-pointer text-center inline-flex items-center justify-center rounded transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105;
}
.app-button--default {
    @apply h-14 w-[300px] focus:outline-none bg-black text-white hover:bg-blue-500;
}

/**
 * Component: InputField
 */
.app-input {
    @apply rounded border-[1px] border-[#464646] text-center text-[#464646] shadow-sm;

    .app-input--disabled {
        @apply border-gray-200 text-gray-500 bg-gray-50 shadow-none;
    }
    .app-input--error {
        @apply border-[2px] border-[#DC2626];
    }
}
